Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix according to `unicorn/prefer-array-at`
  packages/@markuplint/astro-parser/src/parse.ts
  packages/@markuplint/jsx-parser/src/traverse.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/parser-utils/src/get-location.ts
  packages/@markuplint/pug-parser/src/parse.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/svelte-parser/src/parse-ctrl-block.ts
  packages/@markuplint/svelte-parser/src/traverse.ts
  packages/@markuplint/types/src/token/token.ts
  packages/markuplint/src/api/ml-engine.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/prefer-includes`
  packages/@markuplint/rules/src/attr-check.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to `unicorn/prefer-logical-operator-over-ternary`
  packages/@markuplint/ml-core/src/configs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/prefer-native-coercion-functions`
  packages/@markuplint/rules/src/attr-check.ts
  packages/@markuplint/rules/src/class-naming/index.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/rules/src/no-refer-to-non-existent-id/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to `unicorn/prefer-number-properties`
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-aria-props.ts
  packages/@markuplint/rules/src/permitted-contents/represent-transparent-nodes.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  packages/@markuplint/rules/src/wai-aria/checkings/value.ts
  packages/@markuplint/types/src/number.ts
  packages/@markuplint/types/src/primitive/is-float.ts
  packages/@markuplint/types/src/primitive/is-uint.ts
  packages/@markuplint/types/src/primitive/range.ts
  packages/@markuplint/types/src/token/token.ts
  packages/@markuplint/types/src/whatwg/check-datetime/datetime-tokens.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to `unicorn/prefer-optional-catch-binding`
  packages/@markuplint/create-rule-helper/src/read-package-json.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/spec-generator/src/fetch.ts
  packages/markuplint/src/cli/init/install-module.ts
  packages/markuplint/src/get-json-module.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Rename `matches` method.
  packages/@markuplint/types/src/token/token-collection.ts
  packages/@markuplint/types/src/token/token.ts
  packages/@markuplint/types/src/w3c/check-serialized-permissions-policy.ts
  packages/@markuplint/types/src/whatwg/check-autocomplete.ts
  packages/@markuplint/types/src/whatwg/check-datetime/datetime-tokens.ts
  packages/@markuplint/types/src/whatwg/check-datetime/duration-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/time-zone-offset-string.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/prefer-regexp-test`
  packages/@markuplint/file-resolver/src/resolve-parser.ts
  packages/@markuplint/file-resolver/src/resolve-specs.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/spec-generator/src/scraping.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/prefer-set-has`
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/ml-core/src/ml-dom/node/text.ts
  packages/@markuplint/ml-spec/src/specs/is-void-element.ts
  packages/@markuplint/rules/src/character-reference/index.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/@markuplint/vue-parser/src/attr.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/prefer-string-replace-all`
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/file-resolver/src/resolve-plugins.spec.ts
  packages/@markuplint/file-resolver/src/resolve-plugins.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/ml-core/src/configs.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/debug.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node-store.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/parser-utils/src/idl-attributes.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.ts
  packages/@markuplint/rules/src/character-reference/index.ts
  packages/@markuplint/rules/src/helpers.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/spec-generator/src/svg.ts
  packages/@markuplint/types/src/css-syntax.ts
  packages/markuplint/src/cli/index.spec.ts
  packages/markuplint/src/util.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/prefer-string-slice`
  packages/@markuplint/html-parser/src/parse-raw-tag.ts
  packages/@markuplint/jsx-parser/src/attr.ts
  packages/markuplint/src/reporter/standard-reporter.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/prefer-string-starts-ends-with`
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/vue-parser/src/attr.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/prefer-switch`
  packages/@markuplint/parser-utils/src/tag-splitter.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/prefer-top-level-await`
  packages/markuplint/src/cli/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix according to `unicorn/switch-case-braces`
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/types/src/token/token.ts
  packages/markuplint/src/reporter/github-reporter.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to `unicorn/throw-new-error`
  packages/@markuplint/ml-core/src/test/index.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/text-encoding-identifier-case`
  .eslintrc
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.spec.ts
  packages/@markuplint/create-rule-helper/src/install-scaffold.ts
  packages/@markuplint/create-rule-helper/src/read-package-json.ts
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
  packages/@markuplint/rule-textlint/src/index.spec.ts
  packages/@markuplint/spec-generator/src/read-json.ts
  packages/@markuplint/types/gen/types.ts
  packages/markuplint/src/api/ml-engine.spec.ts
  packages/markuplint/src/cli/init/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Disable ESLint unicorn rules
  .eslintrc
Labels: Core API, Documentation, VS Code Extension

Fix to relate inline HTML.
  packages/@markuplint/pug-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add a test.
  packages/@markuplint/pug-parser/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove resolutions because fixed lerna's bug
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Remove `hreflang`, `name`, and `nohref` attribute from the `area` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update description from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

VS Code v3.9.0
  vscode/CHANGELOG.md
  vscode/README.md
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Add a test.
  packages/@markuplint/types/src/list.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update schemas.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.link.json
  packages/@markuplint/html-spec/src/spec.script.json
  packages/@markuplint/html-spec/src/spec.style.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Added `targetLanguages` to VS Code extension settings.
  vscode/README.md
  vscode/package.json
  vscode/src/const.ts
  vscode/src/extension.ts
Labels: Core API, Documentation, VS Code Extension

Early inactivation when no enable mode.
  vscode/src/extension.ts
Labels: Core API, Documentation, VS Code Extension

Fix according to ESLint Unicorn.
  vscode/.eslintrc
  vscode/src/Logger.ts
  vscode/src/i18n.ts
  vscode/src/server/get-module.ts
  vscode/src/server/server.ts
  vscode/src/server/v2.ts
  vscode/src/server/v3.ts
  vscode/src/server/v4.ts
  vscode/src/utils/deferred.ts
  vscode/src/utils/get-file-path.ts
Labels: Core API, Documentation, VS Code Extension

Rename tmp name for ESLint Unicorn.
  vscode/src/Logger__.ts
  vscode/src/StatusBar__.ts
  vscode/src/extension.ts
Labels: Core API, Documentation, VS Code Extension

Rename to lower name for ESLint Unicorn.
  vscode/src/extension.ts
  vscode/src/logger.ts
  vscode/src/status-bar.ts
Labels: Core API, Documentation, VS Code Extension

Add hover options to VS Code settings.
  vscode/README.md
  vscode/package.json
  vscode/src/server/document-events.ts
  vscode/src/types.ts
Labels: Core API, Documentation, VS Code Extension

Add test environments
  .github/workflows/test-vscode.yml
  vscode/.eslintrc
  vscode/.gitignore
  vscode/package.json
  vscode/src/test/run-tests.ts
  vscode/src/test/suite/config.spec.ts
  vscode/src/test/suite/index.ts
  vscode/test/test.code-workspace
  yarn.lock
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix test command.
  .github/workflows/test-vscode.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix install command.
  .github/workflows/test-vscode.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update test running conditions.
  .github/workflows/test-vscode.yml
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Enable X Window
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
