Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Remove redundant type check
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

optimize: calculate line and col together
  packages/@markuplint/ml-core/src/ml-dom/node/dom-token-list.ts
  packages/@markuplint/parser-utils/src/get-location.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/types/src/token/token.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Deprecate getCol and getLine in favor of getPosition
  packages/@markuplint/parser-utils/src/get-location.ts
  packages/@markuplint/types/src/token/token.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Skip the rest of matching once unmatched
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Match tag before costly classes, attributes and pseudo classes
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Comment the order, skip and its reason
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

pseudo is a valid vocabulary
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix spelling
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Disable costly logs
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Avoid costly getImplicitRole when explicitRole.role exists
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.ts
  packages/@markuplint/ml-spec/src/dom-traverse/has-required-owned-elements.ts
  packages/@markuplint/rules/src/wai-aria/checkings/implicit-role.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add `website` property to `Profile` component
  website/src/components/Profile/index.tsx
  website/src/css/custom.css
Labels: Core API, Documentation, VS Code Extension

Move a past sponsor
  README.md
  packages/markuplint/README.md
  website/community/index.mdx
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/index.mdx
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a corporate sponsor section
  README.md
  cspell.json
  packages/markuplint/README.md
  website/community/index.mdx
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a corporate sponsor section to Japanese page
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/index.mdx
Labels: Core API, Documentation, VS Code Extension

Automatically generate a list of contributors via GitHub API
  website/.gitignore
  website/README.md
  website/community/index.mdx
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/index.mdx
  website/package.json
  website/scripts/prebuild/get-contributors.mjs
  website/scripts/prebuild/index.mjs
  website/src/components/Contributors/index.tsx
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

bsky.app well-known file
  website/static/.well-known/atproto-did
Labels: Core API, Documentation, VS Code Extension

Make `replaceChild` argument `replacementChildNodes` variadic
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix parsing of preprocessor specific nodes that failed as comment nodes
  packages/@markuplint/ejs-parser/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Integration of common processes
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update `image` and `img` roles on ARIA 1.3
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/spec-generator/src/aria.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `shadowrootclonable` attribute to the `template` element #1482
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.template.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Revert to previous version due to errors referencing React components in Markdown
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

optimization: Lookup start tag by name
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

optimization: reduce attribute lookup and calculation
  packages/@markuplint/parser-utils/src/sort-nodes.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

remove redundant schema
  packages/@markuplint/rules/src/heading-levels/schema.json
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Improve if/elseif/else block parsing in Svelte parser
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Temporary fix for `computeAccessibleName` not supporting `placeholder` attribute
  packages/@markuplint/ml-spec/src/dom-traverse/accname-computation.spec.ts
  packages/@markuplint/ml-spec/src/dom-traverse/accname-computation.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `browsingtopics` attribute as experimental to the `iframe` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove `nonStandard` flag from `compact` and `type` attributes of the `ul` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix incorrect definition of Permitted Content for SVG `filter` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.svg_filter.json
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, Specs, VS Code Extension

Implement deprecated flag retrieval for ARIA roles
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/ml-spec/src/specs/get-role-spec.ts
  packages/@markuplint/ml-spec/src/types/index.ts
  packages/@markuplint/spec-generator/src/aria.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `checkingDeprecatedRole` option to the `wai-aria` rule
  packages/@markuplint/rules/src/wai-aria/README.ja.md
  packages/@markuplint/rules/src/wai-aria/README.md
  packages/@markuplint/rules/src/wai-aria/checkings/deprecated-role.ts
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
  packages/@markuplint/rules/src/wai-aria/index.ts
  packages/@markuplint/rules/src/wai-aria/schema.json
  packages/@markuplint/rules/src/wai-aria/types.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `nonStandard` flag to `browsingtopics` attribute
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension
