Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix syntax highlight
  website/docusaurus.config.js
Labels: Core API, Documentation, VS Code Extension

Fix broken anchors
  packages/@markuplint/rules/src/invalid-attr/README.ja.md
  packages/@markuplint/rules/src/invalid-attr/README.md
  website/docs/guides/besides-html.md
  website/docs/guides/ignoring-code.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/faq.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/ignoring-code.md
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Enable broken links and anchors on CI
  .github/workflows/build-site.yml
  website/docusaurus.config.js
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Change config files from JS to TS
  website/.eslintrc
  website/docusaurus.config.ts
  website/prismDark.ts
  website/prismLight.ts
  website/sidebars.ts
  website/sidebarsCommunity.ts
Labels: Core API, Documentation, VS Code Extension

Fix type checking
  website/docusaurus.config.ts
  website/sidebars.ts
  website/sidebarsCommunity.ts
Labels: Core API, Documentation, VS Code Extension

Enable class name of code block
  cspell.json
  website/docusaurus.config.ts
  website/package.json
  website/src/remark/code-block.ts
Labels: Core API, Documentation, VS Code Extension

Fix style
  website/.stylelintrc
  website/src/css/custom.css
Labels: Core API, Documentation, VS Code Extension

`@tsconfig/docusaurus` -> `@docusaurus/tsconfig`
  website/package.json
  website/tsconfig.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add playwright in order to capture pages
  website/.gitignore
  website/package.json
  website/playwright.config.ts
  website/tests/screenshot.spec.ts
  website/tsconfig.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add VRT action
  .github/workflows/vrt-site.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update markuplint dependency to fix failing test
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Ignore changes of `.md` files in the packages directory from CI trigger
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix action
  .github/workflows/vrt-site.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix flaky screenshot
  website/tests/screenshot.spec.ts
Labels: Core API, Documentation, VS Code Extension

Fix lint settings
  website/.markuplintrc
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix command
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Improve cache saving
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Remove unnecessary cache saving
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix command
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Update website CI
  .github/workflows/build-site.yml
  .github/workflows/vrt-site.yml
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix paths
  .github/workflows/build-site.yml
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add playwright in order to capture pages
  website/.gitignore
  website/package.json
  website/playwright.config.ts
  website/tests/screenshot.spec.ts
  website/tsconfig.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix flaky screenshot
  website/tests/screenshot.spec.ts
Labels: Core API, Documentation, VS Code Extension

Add VRT action
  .github/workflows/vrt-site.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix command
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Fix command
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Fix lint settings
  website/.markuplintrc
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix action
  .github/workflows/vrt-site.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update website CI
  .github/workflows/build-site.yml
  .github/workflows/vrt-site.yml
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Revert deps change
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Split scripts
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix lint command
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Include workflow file
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix lint command
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add `vitest` to playground
  playground/.eslintrc
  playground/package.json
  playground/src/components/DependencyPanel.spec.tsx
  playground/tsconfig.test.json
  playground/vitest.config.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix spell
  packages/@markuplint/astro-parser/src/parse.spec.ts
  packages/@markuplint/astro-parser/src/parse.ts
  packages/@markuplint/html-parser/src/create-tree.ts
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/nodeize.ts
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/parser-utils/src/walker.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
  packages/@markuplint/pug-parser/src/parse.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update AST Types
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/create-node.ts
  packages/@markuplint/ml-core/src/ml-dom/node/attr.ts
  packages/@markuplint/ml-core/src/ml-dom/node/block.ts
  packages/@markuplint/ml-core/src/ml-dom/node/character-data.ts
  packages/@markuplint/ml-core/src/ml-dom/node/child-node.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document-fragment.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document-type.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node-store.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
  packages/@markuplint/ml-core/src/ml-dom/node/parent-node.ts
  packages/@markuplint/ml-core/src/ml-dom/node/types.ts
  packages/@markuplint/ml-core/src/ml-dom/token/token.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Enhancing `nunjucks-parser` with newly created `Parser` class
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/nunjucks-parser/src/index.spec.ts
  packages/@markuplint/nunjucks-parser/src/index.ts
  packages/@markuplint/nunjucks-parser/src/parse.ts
  packages/@markuplint/nunjucks-parser/src/parser.ts
  packages/@markuplint/nunjucks-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `svelte-parser` with newly created `Parser` class
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/index.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/svelte-parser/src/parse-ctrl-block.spec.ts
  packages/@markuplint/svelte-parser/src/parse-ctrl-block.ts
  packages/@markuplint/svelte-parser/src/parse.ts
  packages/@markuplint/svelte-parser/src/parser.ts
  packages/@markuplint/svelte-parser/src/sveltekit-parser.spec.ts
  packages/@markuplint/svelte-parser/src/sveltekit-parser.ts
  packages/@markuplint/svelte-parser/src/traverse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `jsx-parser` with newly created `Parser` class
  packages/@markuplint/jsx-parser/src/attr.ts
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/index.ts
  packages/@markuplint/jsx-parser/src/jsx.ts
  packages/@markuplint/jsx-parser/src/nodeize.ts
  packages/@markuplint/jsx-parser/src/parse.ts
  packages/@markuplint/jsx-parser/src/parser.ts
  packages/@markuplint/jsx-parser/src/traverse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
