Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

debug
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

debug
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

debug
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

fix
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

fix
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

fix
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

fix
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix failing on comment
  .github/workflows/website-comment.yml
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix
  .github/workflows/website-comment.yml
  .github/workflows/website-vrt.yml
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix
  .github/workflows/website-comment.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix
  .github/workflows/website-comment.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Move `ConfigLoadError`
  packages/@markuplint/file-resolver/src/config-load-error.ts
  packages/@markuplint/file-resolver/src/config-provider.spec.ts
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Move `getPreset`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/force-import-json-in-module.ts
  packages/@markuplint/file-resolver/src/get-preset.spec.ts
  packages/@markuplint/file-resolver/src/get-preset.ts
  packages/@markuplint/ml-core/src/configs.browser.ts
  packages/@markuplint/ml-core/src/index.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Move `moduleExists`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/module-exists.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Handle `ERR_IMPORT_ASSERTION_TYPE_MISSING` error
  packages/@markuplint/file-resolver/src/module-exists.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add logger
  packages/@markuplint/file-resolver/src/module-exists.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Move `isPreset` and `isPlugin`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/is-plugin-module-name.ts
  packages/@markuplint/file-resolver/src/is-preset-module-name.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Move `resolve` as `resolveNameOrAbsPath`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/resolve-name-or-abs-path.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Security fix
  .github/workflows/website-comment.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Move `pathResolve` as `relPathToNameOrAbsPath`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/path-to-abs-or-name.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `MLParserModule` type
  packages/@markuplint/ml-ast/src/types.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `generalImport` function
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/general-import.ts
  packages/@markuplint/file-resolver/src/resolve-parser.spec.ts
  packages/@markuplint/file-resolver/src/resolve-parser.ts
  packages/@markuplint/file-resolver/src/resolve-specs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `importPlugin` to use `generalImport`
  packages/@markuplint/file-resolver/src/resolve-plugins.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/README.md
  packages/markuplint/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Remove `experimental` and `nonStandard` flags from the `controlslist` attribute
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the `autocomplete` attribute from the `button` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update descriptions according to MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `width` attribute as deprecated to the `colgroup` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix to increse version
  website/docs/guides/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/index.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Add debug log to parser
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/parser-utils/src/debug.ts
  packages/@markuplint/parser-utils/src/parser.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fixed attribute type determination and quotation handling in Pug parser
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Remove `removeQuote` function
  packages/@markuplint/parser-utils/src/script-parser.ts
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix test
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix duplicate class attribute definition detection
  packages/@markuplint/pug-parser/src/parser.ts
  packages/@markuplint/rules/src/attr-duplication/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Debugger exposes `potencialValue` and `valueType`
  packages/@markuplint/parser-utils/src/debugger.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Adjustment of token offset and endOffset values
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Adjustment of token offset and endOffset values
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add support for Unescaped Attributes
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension
