Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Fix bug by improving handling of problematic nodes in Vue parser
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

accesskey 属性を禁止するチェックが動いていないバグを修正
  packages/@markuplint/config-presets/src/preset.a11y.json
Labels: v3.x, Config Presets, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/test-tools/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `tsconfig.json` on Prettier
  packages/@markuplint/astro-parser/tsconfig.json
  packages/@markuplint/cli-utils/tsconfig.json
  packages/@markuplint/create-rule/scaffold/package/tsconfig.json
  packages/@markuplint/create-rule/tsconfig.json
  packages/@markuplint/ejs-parser/tsconfig.json
  packages/@markuplint/erb-parser/tsconfig.json
  packages/@markuplint/esm-adapter/tsconfig.json
  packages/@markuplint/file-resolver/tsconfig.json
  packages/@markuplint/html-parser/tsconfig.json
  packages/@markuplint/html-spec/tsconfig.json
  packages/@markuplint/i18n/tsconfig.json
  packages/@markuplint/jsx-parser/tsconfig.json
  packages/@markuplint/liquid-parser/tsconfig.json
  packages/@markuplint/ml-ast/tsconfig.json
  packages/@markuplint/ml-config/tsconfig.json
  packages/@markuplint/ml-core/tsconfig.json
  packages/@markuplint/ml-spec/tsconfig.json
  packages/@markuplint/mustache-parser/tsconfig.json
  packages/@markuplint/nunjucks-parser/tsconfig.json
  packages/@markuplint/parser-utils/tsconfig.json
  packages/@markuplint/php-parser/tsconfig.json
  packages/@markuplint/pug-parser/tsconfig.json
  packages/@markuplint/react-spec/tsconfig.json
  packages/@markuplint/rule-textlint/tsconfig.json
  packages/@markuplint/rules/tsconfig.json
  packages/@markuplint/selector/tsconfig.json
  packages/@markuplint/shared/tsconfig.json
  packages/@markuplint/smarty-parser/tsconfig.json
  packages/@markuplint/spec-generator/tsconfig.json
  packages/@markuplint/svelte-parser/tsconfig.json
  packages/@markuplint/test-tools/tsconfig.json
  packages/@markuplint/types/tsconfig.json
  packages/@markuplint/vue-parser/tsconfig.json
  packages/@markuplint/vue-spec/tsconfig.json
  packages/markuplint/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix textlint test
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rule-textlint/prh.yml
  packages/@markuplint/rule-textlint/src/index.spec.ts
  packages/@markuplint/rule-textlint/test/fixture.html
  packages/@markuplint/test-tools/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update lint script
  package.json
Labels: Core API, Documentation, VS Code Extension

Fix importing module
  packages/@markuplint/rule-textlint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

__test
  packages/@markuplint/rule-textlint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

____test
  packages/@markuplint/rule-textlint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

_____
  packages/@markuplint/rule-textlint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add support for previously unsupported JSX syntax
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/jsx.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix Svelte `else if` block parsing error
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
  test/fixture/svelte/.markuplintrc
  test/fixture/svelte/003.svelte
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Tidy up types
  packages/@markuplint/jsx-parser/src/jsx.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Expose comment nodes
  packages/@markuplint/jsx-parser/src/jsx.spec.ts
  packages/@markuplint/jsx-parser/src/jsx.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Support text node
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix incorrect output for JSX FragmentElement
  packages/@markuplint/ml-core/src/ml-dom/node/element-close-tag.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve output handling for comments within tags after fix
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a test
  test/fixture/jsx/005.jsx
Labels: Core API, Documentation, VS Code Extension

Ignore comments within start tags in JSX parsing
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/jsx.ts
  packages/@markuplint/jsx-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/markuplint/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix on linter
  packages/@markuplint/astro-parser/tsconfig.json
  packages/@markuplint/cli-utils/tsconfig.json
  packages/@markuplint/create-rule/scaffold/package/tsconfig.json
  packages/@markuplint/create-rule/tsconfig.json
  packages/@markuplint/ejs-parser/tsconfig.json
  packages/@markuplint/erb-parser/tsconfig.json
  packages/@markuplint/esm-adapter/tsconfig.json
  packages/@markuplint/file-resolver/tsconfig.json
  packages/@markuplint/html-parser/tsconfig.json
  packages/@markuplint/html-spec/tsconfig.json
  packages/@markuplint/i18n/tsconfig.json
  packages/@markuplint/jsx-parser/tsconfig.json
  packages/@markuplint/liquid-parser/tsconfig.json
  packages/@markuplint/ml-ast/tsconfig.json
  packages/@markuplint/ml-config/tsconfig.json
  packages/@markuplint/ml-core/tsconfig.json
  packages/@markuplint/ml-spec/tsconfig.json
  packages/@markuplint/mustache-parser/tsconfig.json
  packages/@markuplint/nunjucks-parser/tsconfig.json
  packages/@markuplint/parser-utils/tsconfig.json
  packages/@markuplint/php-parser/tsconfig.json
  packages/@markuplint/pug-parser/tsconfig.json
  packages/@markuplint/react-spec/tsconfig.json
  packages/@markuplint/rule-textlint/tsconfig.json
  packages/@markuplint/rules/tsconfig.json
  packages/@markuplint/selector/tsconfig.json
  packages/@markuplint/shared/tsconfig.json
  packages/@markuplint/smarty-parser/tsconfig.json
  packages/@markuplint/spec-generator/tsconfig.json
  packages/@markuplint/svelte-parser/tsconfig.json
  packages/@markuplint/svelte-spec/tsconfig.json
  packages/@markuplint/test-tools/tsconfig.json
  packages/@markuplint/types/tsconfig.json
  packages/@markuplint/vue-parser/tsconfig.json
  packages/@markuplint/vue-spec/tsconfig.json
  packages/markuplint/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix to extract global states and props
  packages/@markuplint/spec-generator/src/aria.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update description of the `tabpanel` on ARIA 1.3
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

VS Code Update
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix element type detection in Astro
  packages/@markuplint/astro-parser/src/parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add test and comment for element type detection in JSX
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix element type detection in Svelte
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add test and comment for element type detection in Vue
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add comment
  packages/@markuplint/selector/src/is.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add tests for verification purposes
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add `@markuplint/svelte-spec`
  packages/markuplint/src/cli/init/create-config.ts
  playground/src/components/ConfigForm.tsx
  playground/src/examples/files/02-besides-html/03-svelte/.markuplintrc
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix a test
  packages/markuplint/src/cli/init/create-config.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Remove to require `decoding=async` from preset `markuplint:performance`
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.performance.json
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Move `character-reference` rule from `markuplint:recommended` preset to `markuplint:recommended-static-html`
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.html-standard.json
  packages/@markuplint/config-presets/src/preset.recommended-static-html.json
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update test
  packages/markuplint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension
