Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Use types of `lexer`
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix to expose attribute block (`&attributes`)
  packages/@markuplint/pug-parser/src/pug-parser/index.spec.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add support for Quoted Attributes
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix to expose `&attribute` block as spread attribute to AST
  packages/@markuplint/pug-parser/src/parser.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add tests of attributes
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add support for empty pipe
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add offset handling to PugParser to prevent indentation errors
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/pug-parser/src/parser.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add support for tag interpolation
  packages/@markuplint/pug-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add tests of whitespace control
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Trim overlapping sections of text nodes for proper node separation
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add tests of interpolation
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Refactor: Relocate method definitions
  .eslintrc
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the `nowrap` attribute from the `dd` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove experimental flag from the `disablepictureinpicture` attribute of the `video` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update a test.
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/file-resolver/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update description of the `dfn` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix module path
  playground/src/modules/violations.ts
Labels: Core API, Documentation, VS Code Extension

Fix to expose Frontmatter in `astro-parser`
  packages/@markuplint/astro-parser/src/astro-parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Remove script and style tags from AST in Vue
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Remove redundant lint event emissions in ESMAdapter to prevent memory leaks
  packages/@markuplint/esm-adapter/esm/index.mjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `tagNameCaseSensitive` property to `Document` class
  packages/@markuplint/astro-parser/src/parser.ts
  packages/@markuplint/ml-core/src/ml-core.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Handle `tagNameCaseSensitive` using "case-sensitive-tag-name" rule
  packages/@markuplint/rules/src/case-sensitive-tag-name/index.spec.ts
  packages/@markuplint/rules/src/case-sensitive-tag-name/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Remove peerDependencies from `*-spec` module.
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/vue-spec/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update VS Code version
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

VS Code RC Version
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Update release note of VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Update `svelte-spec` for v4
  packages/@markuplint/svelte-spec/.eslintrc
  packages/@markuplint/svelte-spec/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update VS Code
  vscode/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update website
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix schema loading
  playground/src/components/RulesSelector.tsx
Labels: Core API, Documentation, VS Code Extension

Fix schema loading
  playground/src/components/RulesSelector.tsx
Labels: Core API, Documentation, VS Code Extension

Restrict content to phrasing content only
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.strong.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix on lint
  packages/@markuplint/svelte-spec/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix parsing issue with attributes containing brace
  packages/@markuplint/astro-parser/src/parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.ts
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/parser.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
