Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Assign `end` conditional type to close tag of conditions on Svelte parser
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Improve `hasMutableChildren` method ignores conditional tag
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve `ignoreHasMutableChildren` option to evaluate
  packages/@markuplint/rules/src/permitted-contents/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Without whitespace node from the return of `conditionalChildNodes` method
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve `branchesToPatterns` function: Ignore when an empty array is received
  packages/@markuplint/shared/src/functions.spec.ts
  packages/@markuplint/shared/src/functions.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve `representTransparentNodes` function to support conditional child nodes
  packages/@markuplint/rules/src/permitted-contents/represent-transparent-nodes.spec.ts
  packages/@markuplint/rules/src/permitted-contents/represent-transparent-nodes.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Remove `getChildNodesWithoutWhitespaces` function
  packages/@markuplint/rules/src/permitted-contents/utils.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Improve `permitted-content` to support conditional child nodes
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/start.spec.ts
  packages/@markuplint/rules/src/permitted-contents/start.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix document about new option of `permitted-contents`
  packages/@markuplint/rules/src/permitted-contents/schema.json
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pretenders/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

chore: add `commitzen` and additional dependencies
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

chore: add `commitlint` settings
  .commitlintrc.js
  .husky/commit-msg
Labels: Core API, Documentation, VS Code Extension

chore: add `commit` and `co` commands to package.json scripts
  package.json
Labels: Core API, Documentation, VS Code Extension

chore: remove deprecated `husky install` as `prepare` command from package.json scripts
  package.json
Labels: Core API, Documentation, VS Code Extension

chore: add commitzen config
  package.json
Labels: Core API, Documentation, VS Code Extension

chore: update lerna release command to use conventional commits
  package.json
Labels: Core API, Documentation, VS Code Extension

chore: update renovate.json to include semantic commit type for chore
  .github/renovate.json
Labels: Core API, Documentation, VS Code Extension

chore(github): add multilingual messages to issue templates
  .github/ISSUE_TEMPLATE/bug_repot.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/update_specs.md
  cspell.json
Labels: Core API, Documentation, VS Code Extension

chore(husky): prevent direct commits to main or dev branch
  .husky/pre-commit
Labels: Core API, Documentation, VS Code Extension

chore(github): update bug report and PR template
  .github/ISSUE_TEMPLATE/bug_repot.md
  .github/pull_request_template.md
Labels: Core API, Documentation, VS Code Extension

chore(github): rename an issue template file name because of a typo
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
