Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix type of root settings.
  package.json
Labels: Core API, Documentation, VS Code Extension

Improve `rule-textlint`
  packages/@markuplint/rule-textlint/README.md
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rule-textlint/src/helper.ts
  packages/@markuplint/rule-textlint/src/index.browser.spec.ts
  packages/@markuplint/rule-textlint/src/index.spec.ts
  packages/@markuplint/rule-textlint/src/index.ts
  packages/@markuplint/rule-textlint/src/test-utils.ts
  packages/@markuplint/rule-textlint/src/verify-browser.ts
  packages/@markuplint/rule-textlint/src/verify.ts
  packages/@markuplint/rule-textlint/test/fixture.html
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Move `execa`
  .github/workflows/test.yml
  packages/@markuplint/test-tools/src/exports.ts
  packages/markuplint/package.json
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, GitHub Actions, VS Code Extension

Fix to add test package.
  .github/renovate.json
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update lerna.
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove `hreflang`, `name`, and `nohref` attribute from the `area` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove `<search role=search>` from preset.
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.a11y.json
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Remove `importHelpers` and `tslib`
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  tsconfig.json
  vscode/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Align function name with other locations.
  packages/@markuplint/pug-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix to relate inline HTML.
  packages/@markuplint/pug-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add a test.
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add ESlint `unicorn` plugin
  .eslintrc
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix according to `unicorn/better-regex`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/utils.ts
  packages/@markuplint/html-parser/src/attr-tokenizer.ts
  packages/@markuplint/html-parser/src/is-document-fragment.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/html-parser/src/parse-raw-tag.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/ml-core/src/configs.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/getIndent.ts
  packages/@markuplint/parser-utils/src/const.ts
  packages/@markuplint/parser-utils/src/detect-element-type.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.ts
  packages/@markuplint/pug-parser/src/attr-tokenizer.ts
  packages/@markuplint/rules/src/character-reference/index.ts
  packages/@markuplint/rules/src/helpers.ts
  packages/@markuplint/selector/src/regex-selector-matches.ts
  packages/@markuplint/spec-generator/src/html-elements.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/spec-generator/src/utils.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/primitive/is-int.ts
  packages/@markuplint/types/src/primitive/is-non-zero-uint.ts
  packages/@markuplint/types/src/primitive/is-uint.ts
  packages/@markuplint/types/src/primitive/split-unit.ts
  packages/@markuplint/types/src/token/index.spec.ts
  packages/@markuplint/types/src/w3c/check-serialized-permissions-policy.ts
  packages/@markuplint/types/src/whatwg/check-datetime/date-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/datetime-tokens.ts
  packages/@markuplint/types/src/whatwg/check-datetime/duration-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/global-date-and-time-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/local-date-and-time-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/month-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/time-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/time-zone-offset-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/week-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/yearless-date-string.ts
  packages/markuplint/src/cli/create-rule/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/catch-error-name`
  packages/@markuplint/create-rule-helper/src/fs-exists.ts
  packages/@markuplint/file-resolver/src/auto-load-rules.ts
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
  packages/@markuplint/file-resolver/src/resolve-plugins.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/jsx-parser/src/parse.ts
  packages/@markuplint/ml-core/src/ml-core.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/accname.ts
  packages/@markuplint/pug-parser/src/parse.ts
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/shared/src/functions.ts
  packages/@markuplint/spec-generator/src/fetch.ts
  packages/@markuplint/svelte-parser/src/parse.ts
  packages/@markuplint/types/src/keyword-type.ts
  packages/@markuplint/types/src/whatwg/is-abs-url.ts
  packages/@markuplint/vue-parser/src/parse.ts
  packages/markuplint/src/api/ml-engine.ts
  packages/markuplint/src/cli/index.ts
  packages/markuplint/src/cli/init/index.ts
  packages/markuplint/src/cli/init/install-module.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/error-message`
  .eslintrc
  packages/@markuplint/ml-core/src/configs.browser.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/escape-case`
  packages/@markuplint/html-parser/src/attr-tokenizer.ts
  packages/@markuplint/html-parser/src/parse-raw-tag.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/explicit-length-check`
  packages/@markuplint/rules/src/permitted-contents/choice.ts
  packages/@markuplint/rules/src/require-datetime/utils.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/whatwg/check-datetime/datetime-tokens.ts
  packages/@markuplint/types/src/whatwg/check-datetime/duration-string.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to `unicorn/filename-case`
  .eslintrc
  packages/@markuplint/ml-core/src/index.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/get-indent.ts
  packages/@markuplint/ml-spec/src/index.ts
  packages/@markuplint/ml-spec/src/utils/validate-aria-version.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/new-for-builtins`
  packages/@markuplint/types/src/defs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-array-for-each`
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/resolve-rules.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/ml-config/src/merge-config.ts
  packages/@markuplint/ml-config/src/utils.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node-list.ts
  packages/@markuplint/ml-core/src/ml-dom/node/rule-mapper.ts
  packages/@markuplint/ml-core/src/ml-rule/create-rule.spec.ts
  packages/@markuplint/ml-core/src/utils/get-location-from-chars.ts
  packages/@markuplint/ml-spec/gen/gen.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-aria-props.ts
  packages/@markuplint/ml-spec/src/specs/get-attr-specs.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/parser-utils/src/remove-deprecated-node.ts
  packages/@markuplint/rules/src/character-reference/index.ts
  packages/@markuplint/rules/src/disallowed-element/index.ts
  packages/@markuplint/rules/src/no-refer-to-non-existent-id/index.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  packages/@markuplint/rules/src/placeholder-label-option/index.ts
  packages/@markuplint/rules/src/require-datetime/index.ts
  packages/@markuplint/selector/src/regex-selector-matches.ts
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/spec-generator/src/utils.ts
  packages/@markuplint/types/src/css-syntax.ts
  packages/@markuplint/types/src/get-candidate.ts
  packages/@markuplint/types/src/token/token-collection.ts
  packages/markuplint/src/cli/search/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/no-array-push-push`
  packages/@markuplint/jsx-parser/src/jsx.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/debug.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/types/src/token/token-collection.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/no-array-reduce`
  packages/@markuplint/ml-core/src/ml-core.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-await-expression-member`
  .eslintrc
  packages/@markuplint/file-resolver/src/resolve-specs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-hex-escape`
  packages/@markuplint/html-parser/src/attr-tokenizer.ts
  packages/@markuplint/html-parser/src/parse-raw-tag.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/no-lonely-if`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/rules/src/wai-aria/checkings/implicit-props.ts
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/types/src/whatwg/is-abs-url.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/no-negated-condition`
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/html-parser/src/attr-tokenizer.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/ml-config/src/merge-config.ts
  packages/@markuplint/ml-config/src/utils.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-rule/ml-rule.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/parser-utils/src/tag-splitter.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/rules/src/deprecated-element/index.ts
  packages/@markuplint/rules/src/permitted-contents/order.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/types/src/token/token-collection.ts
  packages/@markuplint/vue-parser/src/attr.ts
  packages/markuplint/src/testing-tool/index.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/no-object-as-default-parameter`
  packages/markuplint/src/testing-tool/index.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-process-exit`
  packages/markuplint/src/cli/index.ts
  packages/markuplint/src/util.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-this-assignment`
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-unreadable-array-destructuring`
  packages/@markuplint/pug-parser/src/attr-tokenizer.ts
  packages/@markuplint/types/src/whatwg/check-datetime/duration-string.ts
  packages/@markuplint/types/src/whatwg/check-datetime/local-date-and-time-string.ts
  packages/@markuplint/vue-parser/src/attr.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/no-useless-fallback-in-spread`
  packages/@markuplint/ml-spec/src/specs/schema-to-spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-useless-promise-resolve-reject`
  packages/markuplint/src/api/ml-engine.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/no-useless-switch-case`
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/vue-parser/src/attr.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/no-useless-undefined`
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/numeric-separators-style`
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
  packages/@markuplint/types/src/whatwg/check-datetime/datetime-tokens.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/prefer-array-find`
  packages/@markuplint/spec-generator/src/scraping.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix according to `unicorn/prefer-array-flat-map`
  packages/@markuplint/ml-core/src/ml-dom/helper/debug.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/rules/src/landmark-roles/index.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  packages/@markuplint/selector/src/extended-selector/content-model-pseudo-class.ts
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix according to `unicorn/prefer-array-index-of`
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix according to `unicorn/prefer-array-some`
  packages/@markuplint/ml-core/src/ml-rule/ml-rule-context.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
