Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Ignore generated files on lint step of CI.
  .prettierignore
Labels: Core API, Documentation, VS Code Extension

Fix to resolve path on Windows.
  packages/@markuplint/ml-core/src/configs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Breaking circular dependencies.
  packages/@markuplint/html-spec/build.mjs
  packages/@markuplint/html-spec/test/structure.spec.mjs
  packages/@markuplint/spec-generator/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `--no-git-tag-version` to `release:next` command
  package.json
Labels: Core API, Documentation, VS Code Extension

Update contributors and personal sponsors.
  README.md
  cspell.json
  packages/markuplint/README.md
  website/community/index.mdx
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/index.mdx
  website/src/components/Profile/styles.module.css
Labels: v3.x, Core API, Documentation, VS Code Extension

fix CLI document to correct locale option
  website/docs/guides/cli.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/cli.md
Labels: Core API, Documentation, VS Code Extension

Update cosmiconfig to v8.3.3
  packages/@markuplint/file-resolver/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove loaders
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove cosmiconfig-typescript-loader
  packages/@markuplint/file-resolver/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update README.md
  README.md
Labels: Core API, Documentation, VS Code Extension

Add testing branch
  .github/workflows/build-site.yml
  .github/workflows/build-vscode.yml
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix the option ts isolated test.
  test/isolated-env/typescript/package.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update DOM API.
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the option ts isolated test.
  test/isolated-env/typescript/package.json
Labels: Core API, Documentation, VS Code Extension

Update `astro-parser`
  packages/@markuplint/astro-parser/test/astro-parser.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `type-fest`
  packages/@markuplint/types/src/token/token-collection.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update WAI-ARIA 1.3
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update descriptions of the attributes form MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `form` attribute to the `meter` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `dirname` attribute to the `textarea` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the `xlink:href` attribute to deprecated.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a description and categories to the `search` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update a test.
  packages/@markuplint/ml-spec/test/specs/get-attr-specs.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update `type-fest`
  packages/@markuplint/types/src/token/token-collection.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update DOM API.
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update WAI-ARIA 1.3
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update descriptions of the attributes form MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `form` attribute to the `meter` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `dirname` attribute to the `textarea` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the `xlink:href` attribute to deprecated.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a description and categories to the `search` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update a test.
  packages/@markuplint/ml-spec/src/specs/get-attr-specs.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Move a dependency module.
  package.json
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix dependency.
  packages/@markuplint/test-tools/package.json
  packages/markuplint/package.json
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix CI test.
  .github/workflows/test.yml
  packages/@markuplint/test-tools/package.json
  packages/markuplint/package.json
Labels: v3.x, Core API, Documentation, GitHub Actions, VS Code Extension

Add -W option
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update dependencies of the website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove a text about ARIA in HTML spec from the `wai-aria` rule doc.
  packages/@markuplint/rules/src/wai-aria/README.ja.md
  packages/@markuplint/rules/src/wai-aria/README.md
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension
