Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Update playground for v4
  .prettierignore
  lerna.json
  package.json
  playground/.eslintrc
  playground/.gitignore
  playground/.markuplintrc
  playground/.postcssrc.js
  playground/index.html
  playground/package.json
  playground/public/logo.svg
  playground/public/vscode.png
  playground/src/.eslintrc
  playground/src/diagnose.ts
  playground/src/index.ts
  playground/src/main.ts
  playground/src/ml-playground-home.svelte
  playground/src/ml-playground.svelte
  playground/src/monaco.ts
  playground/src/pages/.DS_Store
  playground/src/playground.ts
  playground/src/ruleset.ts
  playground/src/style.scss
  playground/src/vite-env.d.ts
  playground/svelte.config.js
  playground/tsconfig.json
  playground/vite.config.js
  playground/webpack.config.ts
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix version
  playground/package.json
Labels: Core API, Documentation, VS Code Extension

Fix dependencies.
  playground/package.json
Labels: Core API, Documentation, VS Code Extension

Fix cache on CI
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update dependencies.
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix ESLint target paths
  package.json
Labels: Core API, Documentation, VS Code Extension

Update renovate.json
  .github/renovate.json
Labels: Core API, Documentation, VS Code Extension

Increment version
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

`next` release
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Improve `esm-adapter`
  packages/@markuplint/esm-adapter/.eslintrc
  packages/@markuplint/esm-adapter/cjs/debug.cjs
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/esm/resolve-module.mjs
  packages/@markuplint/esm-adapter/index.d.ts
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/@markuplint/esm-adapter/tsconfig.json
  packages/@markuplint/esm-adapter/tsconfig.test.json
  packages/@markuplint/ml-core/src/index.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/types.ts
  packages/markuplint/src/api/ml-engine.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve VS Code extension
  package.json
  vscode/.eslintrc
  vscode/package.json
  vscode/src/i18n.ts
  vscode/src/server/get-module.ts
  vscode/src/server/server.ts
  vscode/src/server/v3.ts
  vscode/src/server/v4.ts
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Expose `MLEngineEventMap` interface.
  packages/markuplint/src/index.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove static `getVersion` function.
  packages/@markuplint/esm-adapter/cjs/index.cjs
  packages/@markuplint/esm-adapter/cjs/version.cjs
  packages/@markuplint/esm-adapter/index.d.ts
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Add logging messages
  packages/@markuplint/esm-adapter/esm/index.mjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `baseDir` option.
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/esm/import-local-module.mjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/esm/resolve-module.mjs
  packages/@markuplint/esm-adapter/index.d.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve VS Code Extension.
  vscode/src/extension.ts
  vscode/src/server/document-events.ts
  vscode/src/server/get-module.ts
  vscode/src/server/server.ts
  vscode/src/server/v1.ts
  vscode/src/server/v2.ts
  vscode/src/server/v3.ts
  vscode/src/server/v4.ts
Labels: Core API, Documentation, VS Code Extension

Add tests
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/markuplint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add to log violations
  vscode/src/server/v4.ts
Labels: Core API, Documentation, VS Code Extension

Add `isLocalModule` prop.
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/index.d.ts
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Move function `getAccessibilityByLocation`.
  packages/@markuplint/esm-adapter/esm/get-accessibility-by-location.mjs
  packages/@markuplint/esm-adapter/esm/index.mjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Tidy-up methods
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve `esm-adapter`
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/esm/debug.mjs
  packages/@markuplint/esm-adapter/esm/get-accessibility-by-location.mjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/index.d.ts
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Add logger to `file-resolver`
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
  packages/@markuplint/file-resolver/src/debug.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add logger to `ml-engine`
  packages/markuplint/src/api/ml-engine.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix logging namespaces
  packages/markuplint/src/debug.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix VS Code Extension
  vscode/package.json
  vscode/src/server/debug.ts
  vscode/src/server/get-module.ts
  vscode/src/server/server.ts
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove peerDependency
  packages/@markuplint/esm-adapter/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update VS Code publish command.
  package.json
Labels: Core API, Documentation, VS Code Extension

Add ignore packages.
  .github/renovate.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  playground/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove unnecessary packages.
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/file-resolver/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update ESM test.
  test/isolated-env/esm/index.js
  test/isolated-env/esm/package.json
Labels: Core API, Documentation, VS Code Extension

Add TypeScript with `markuplint.config.ts`
  test/isolated-env/ts-config-ts/.gitignore
  test/isolated-env/ts-config-ts/index.html
  test/isolated-env/ts-config-ts/index.ts
  test/isolated-env/ts-config-ts/markuplint.config.ts
  test/isolated-env/ts-config-ts/package.json
  test/isolated-env/ts-config-ts/tsconfig.json
Labels: Core API, Documentation, VS Code Extension

Update TypeScript test.
  test/isolated-env/ts/.gitignore
  test/isolated-env/ts/index.ts
  test/isolated-env/ts/package.json
  test/isolated-env/ts/tsconfig.json
  test/isolated-env/typescript/index.ts
  test/isolated-env/typescript/package.json
Labels: Core API, Documentation, VS Code Extension

Fix directories
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add `@types/node`
  test/isolated-env/ts-config-ts/package.json
  test/isolated-env/ts/package.json
Labels: Core API, Documentation, VS Code Extension

Add `pnpm`
  .github/workflows/test.yml
  test/isolated-env/esm/package.json
  test/isolated-env/ts-config-ts/package.json
  test/isolated-env/ts/package.json
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix to no skip test
  packages/markuplint/src/api/ml-engine.spec.ts
  packages/markuplint/test/plugin001.js
Labels: v3.x, Core API, Documentation, VS Code Extension
