Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Update test
  packages/markuplint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Enhancing `vue-parser` with newly created `Parser` class
  packages/@markuplint/vue-parser/src/attr.ts
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/index.ts
  packages/@markuplint/vue-parser/src/parse.ts
  packages/@markuplint/vue-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `astro-parser` with newly created `Parser` class
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/astro-parser/src/astro-parser.spec.ts
  packages/@markuplint/astro-parser/src/attr-tokenizer.ts
  packages/@markuplint/astro-parser/src/index.ts
  packages/@markuplint/astro-parser/src/parse.ts
  packages/@markuplint/astro-parser/src/parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.ts
  packages/@markuplint/astro-parser/tsconfig.json
  packages/@markuplint/rules/src/end-tag/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Enhancing `erb-parser` with newly created `Parser` class
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/erb-parser/src/index.spec.ts
  packages/@markuplint/erb-parser/src/index.ts
  packages/@markuplint/erb-parser/src/parse.ts
  packages/@markuplint/erb-parser/src/parser.ts
  packages/@markuplint/erb-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix on lint
  packages/markuplint/src/version.ts
  vscode/src/server/v4.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Enhancing `ejs-parser` with newly created `Parser` class
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/ejs-parser/src/index.spec.ts
  packages/@markuplint/ejs-parser/src/index.ts
  packages/@markuplint/ejs-parser/src/parse.ts
  packages/@markuplint/ejs-parser/src/parser.ts
  packages/@markuplint/ejs-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `php-parser` with newly created `Parser` class
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/php-parser/src/index.spec.ts
  packages/@markuplint/php-parser/src/index.ts
  packages/@markuplint/php-parser/src/parse.ts
  packages/@markuplint/php-parser/src/parser.ts
  packages/@markuplint/php-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Parser internals overhaul and abstraction layer introduction
  .eslintrc
  packages/@markuplint/ml-core/src/ml-dom/helper/accname.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/helper/create-node.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/dom-token-list.ts
  packages/@markuplint/ml-core/src/test/index.ts
  packages/@markuplint/ml-spec/src/specs/is-void-element.ts
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/parser-utils/src/attr-parser.spec.ts
  packages/@markuplint/parser-utils/src/attr-parser.ts
  packages/@markuplint/parser-utils/src/attr-tokenizer.spec.ts
  packages/@markuplint/parser-utils/src/attr-tokenizer.ts
  packages/@markuplint/parser-utils/src/create-token.spec.ts
  packages/@markuplint/parser-utils/src/create-token.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/parser-utils/src/enums.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.spec.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/parser-utils/src/get-location.ts
  packages/@markuplint/parser-utils/src/get-space-before.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/index.ts
  packages/@markuplint/parser-utils/src/parse-attr.spec.ts
  packages/@markuplint/parser-utils/src/parse-attr.ts
  packages/@markuplint/parser-utils/src/parser-error.ts
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/parser-utils/src/remove-deprecated-node.ts
  packages/@markuplint/parser-utils/src/script-parser.ts
  packages/@markuplint/parser-utils/src/siblings-correction.ts
  packages/@markuplint/parser-utils/src/sort-nodes.ts
  packages/@markuplint/parser-utils/src/tag-parser.spec.ts
  packages/@markuplint/parser-utils/src/tag-parser.ts
  packages/@markuplint/parser-utils/src/tag-splitter.ts
  packages/@markuplint/parser-utils/src/types.ts
  packages/@markuplint/parser-utils/src/walker.ts
  packages/@markuplint/parser-utils/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `mustache-parser` with newly created `Parser` class
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/mustache-parser/src/index.spec.ts
  packages/@markuplint/mustache-parser/src/index.ts
  packages/@markuplint/mustache-parser/src/parse.ts
  packages/@markuplint/mustache-parser/src/parser.ts
  packages/@markuplint/mustache-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `liquid-parser` with newly created `Parser` class
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/liquid-parser/src/index.spec.ts
  packages/@markuplint/liquid-parser/src/index.ts
  packages/@markuplint/liquid-parser/src/parse.ts
  packages/@markuplint/liquid-parser/src/parser.ts
  packages/@markuplint/liquid-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `smarty-parser` with newly created `Parser` class
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/smarty-parser/src/index.spec.ts
  packages/@markuplint/smarty-parser/src/index.ts
  packages/@markuplint/smarty-parser/src/parse.ts
  packages/@markuplint/smarty-parser/src/parser.ts
  packages/@markuplint/smarty-parser/tsconfig.json
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `pug-parser` with newly created `Parser` class
  packages/@markuplint/pug-parser/src/attr-tokenizer.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
  packages/@markuplint/pug-parser/src/index.ts
  packages/@markuplint/pug-parser/src/parse.ts
  packages/@markuplint/pug-parser/src/parser.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enhancing `html-parser` with newly created `Parser` class
  packages/@markuplint/html-parser/src/create-tree.ts
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/html-parser/src/index.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/html-parser/src/parse.ts
  packages/@markuplint/html-parser/src/parser.ts
  packages/@markuplint/html-parser/src/types.ts
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fallback for Node v18
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update test
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove `associationlist`, `associationlistitemkey`, and `associationlistitemvalue` roles.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove a part of description about the media attribute
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix on lint.
  packages/@markuplint/astro-parser/tsconfig.json
  packages/@markuplint/cli-utils/tsconfig.json
  packages/@markuplint/create-rule/scaffold/package/tsconfig.json
  packages/@markuplint/create-rule/tsconfig.json
  packages/@markuplint/ejs-parser/tsconfig.json
  packages/@markuplint/erb-parser/tsconfig.json
  packages/@markuplint/esm-adapter/tsconfig.json
  packages/@markuplint/file-resolver/tsconfig.json
  packages/@markuplint/html-parser/tsconfig.json
  packages/@markuplint/html-spec/tsconfig.json
  packages/@markuplint/i18n/tsconfig.json
  packages/@markuplint/jsx-parser/tsconfig.json
  packages/@markuplint/liquid-parser/tsconfig.json
  packages/@markuplint/ml-ast/tsconfig.json
  packages/@markuplint/ml-config/tsconfig.json
  packages/@markuplint/ml-core/src/ml-dom/helper/accname.spec.ts
  packages/@markuplint/ml-core/tsconfig.json
  packages/@markuplint/ml-spec/tsconfig.json
  packages/@markuplint/mustache-parser/tsconfig.json
  packages/@markuplint/nunjucks-parser/tsconfig.json
  packages/@markuplint/parser-utils/tsconfig.json
  packages/@markuplint/php-parser/tsconfig.json
  packages/@markuplint/pug-parser/tsconfig.json
  packages/@markuplint/react-spec/tsconfig.json
  packages/@markuplint/rule-textlint/tsconfig.json
  packages/@markuplint/rules/tsconfig.json
  packages/@markuplint/selector/tsconfig.json
  packages/@markuplint/shared/tsconfig.json
  packages/@markuplint/smarty-parser/tsconfig.json
  packages/@markuplint/spec-generator/tsconfig.json
  packages/@markuplint/svelte-parser/tsconfig.json
  packages/@markuplint/test-tools/tsconfig.json
  packages/@markuplint/types/src/css-syntax.ts
  packages/@markuplint/types/tsconfig.json
  packages/@markuplint/vue-parser/tsconfig.json
  packages/@markuplint/vue-spec/tsconfig.json
  packages/markuplint/tsconfig.json
  playground/src/components/RuleConfig.tsx
Labels: v3.x, Core API, Documentation, VS Code Extension

Add test suites
  packages/markuplint/src/cli/index.spec.ts
  packages/markuplint/test/fix/.gitignore
  packages/markuplint/test/fix/.markuplintrc
  packages/markuplint/test/fix/origin.html
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix parsing with `ignoreFrontMatter`
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.spec.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.ts
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix exposing a fixed raw code of an omitted element
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/test/index.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add component tests
  playground/.eslintrc
  playground/__mocks__/rule.ts
  playground/__mocks__/schema.ts
  playground/package.json
  playground/src/components/CodeEditor.spec.tsx
  playground/src/components/ConfigEditor.spec.tsx
  playground/src/components/ConfigForm.spec.tsx
  playground/src/components/ConsoleOutput.spec.tsx
  playground/src/components/ConsoleOutput.tsx
  playground/src/components/DependencyPanel.spec.tsx
  playground/src/components/ExampleSelector.spec.tsx
  playground/src/components/FileTypeSelector.spec.tsx
  playground/src/components/PresetsSelector.spec.tsx
  playground/src/components/ProblemsOutput.spec.tsx
  playground/src/components/RuleConfig.spec.tsx
  playground/src/components/RulesSelector.spec.tsx
  playground/src/vite-env.d.ts
  playground/tsconfig.json
  playground/tsconfig.test.json
  playground/vitest.config.ts
  playground/vitest.setup.tsx
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update output of fix options on CLI
  packages/markuplint/src/cli/command.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Change `tagOpenChar` property to public from private
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix CI
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update playwright
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Expose origin raw code to AST root
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update `MLAttr.toString` and `MLAttr.raw`
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/attr.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element-close-tag.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-dom/token/token.ts
  packages/markuplint/src/api/ml-engine.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix reseting to called parse method
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Restore test code
  packages/@markuplint/rules/src/attr-value-quotes/index.spec.ts
  packages/@markuplint/rules/src/attr-value-quotes/index.ts
  packages/@markuplint/rules/src/case-sensitive-attr-name/index.spec.ts
  packages/@markuplint/rules/src/case-sensitive-tag-name/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update dependencies.
  packages/@markuplint/vue-parser/package.json
  playground/package.json
  playground/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `@types/cli-color`
  packages/@markuplint/cli-utils/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `astro-eslint-parser`
  packages/@markuplint/astro-parser/src/astro-parser.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Replace `@astrojs/parser` with `@astrojs/compiler` for type
  packages/@markuplint/astro-parser/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix config JSON Schema
  config.schema.json
Labels: Core API, Documentation, VS Code Extension

Fix path in development
  .vscode/settings.json
Labels: Core API, Documentation, VS Code Extension

debug
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

fix
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

debug
  .github/workflows/website.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension
