Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Add `alpine-parser`
  packages/@markuplint/alpine-parser/.npmignore
  packages/@markuplint/alpine-parser/README.md
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/alpine-parser/src/index.spec.ts
  packages/@markuplint/alpine-parser/src/index.ts
  packages/@markuplint/alpine-parser/src/parser.ts
  packages/@markuplint/alpine-parser/src/spec.ts
  packages/@markuplint/alpine-parser/tsconfig.json
  packages/@markuplint/alpine-parser/tsconfig.test.json
  test/fixture/alpine/.markuplintrc
  test/fixture/alpine/001.html
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `alpine-parser` to initializer
  packages/markuplint/src/cli/init/create-config.ts
  packages/markuplint/src/cli/init/types.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Add `alpine-parser` to CLI
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add `alpine-parser` to document
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: Core API, Documentation, VS Code Extension

Fix core rule creation process.
  packages/@markuplint/create-rule/src/transfer.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix core rule creation process.
  packages/@markuplint/create-rule/src/create-rule-to-core.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `heading-levels` rule.
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.html-standard.json
  packages/@markuplint/rules/schema.json
  packages/@markuplint/rules/src/heading-levels/README.ja.md
  packages/@markuplint/rules/src/heading-levels/README.md
  packages/@markuplint/rules/src/heading-levels/index.spec.ts
  packages/@markuplint/rules/src/heading-levels/index.ts
  packages/@markuplint/rules/src/heading-levels/schema.json
  packages/@markuplint/rules/src/index.ts
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, Rule, VS Code Extension

Fix indents
  packages/@markuplint/rules/src/doctype/README.ja.md
  packages/@markuplint/rules/src/doctype/README.md
  packages/@markuplint/rules/src/end-tag/README.ja.md
  packages/@markuplint/rules/src/end-tag/README.md
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add the `privacy-policy` link type to the `link` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.link.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add the `onpagereveal` event attribute to the `body` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.body.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add "No nested same details name group" preset
  packages/@markuplint/config-presets/src/preset.html-standard.json
  test/fixture/018.html
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Add documents
  packages/@markuplint/config-presets/README.md
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Add "Require `title` attr in `<input pattern>`" to preset
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.html-standard.json
  test/fixture/007.html
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix child element detection
  packages/@markuplint/ml-core/src/ml-dom/node/child-node.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add support for `nextSibling` and `previousSibling` APIs
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve handling of `nextElementSibling` and `previousElementSibling` from `nextSibling` and `previousSibling` support
  packages/@markuplint/ml-core/src/ml-dom/manipulations/child-node-methods.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `no-consecutive-br` rule
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/index.ts
  packages/@markuplint/rules/src/no-consecutive-br/README.ja.md
  packages/@markuplint/rules/src/no-consecutive-br/README.md
  packages/@markuplint/rules/src/no-consecutive-br/index.spec.ts
  packages/@markuplint/rules/src/no-consecutive-br/index.ts
  packages/@markuplint/rules/src/no-consecutive-br/schema.json
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add to preset
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.a11y.json
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
Labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, VS Code Extension

Add a test file
  test/fixture/019.html
Labels: Core API, Documentation, VS Code Extension

Add to preset doc
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: Core API, Documentation, VS Code Extension

Update a test result
  packages/markuplint/src/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix issue with `:scope` pseudo-class in `querySelectorAll`
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-dom/node/parent-node.ts
  packages/@markuplint/selector/src/selector.spec.ts
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `no-duplicate-dt` rule
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/index.ts
  packages/@markuplint/rules/src/no-duplicate-dt/README.ja.md
  packages/@markuplint/rules/src/no-duplicate-dt/README.md
  packages/@markuplint/rules/src/no-duplicate-dt/index.spec.ts
  packages/@markuplint/rules/src/no-duplicate-dt/index.ts
  packages/@markuplint/rules/src/no-duplicate-dt/schema.json
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Rule, VS Code Extension

Add to preset
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.html-standard.json
Labels: v3.x, Config Presets, Documentation, VS Code Extension

Add a test file
  test/fixture/020.html
Labels: Core API, Documentation, VS Code Extension

Write sample code
  packages/@markuplint/rules/src/no-duplicate-dt/README.ja.md
  packages/@markuplint/rules/src/no-duplicate-dt/README.md
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add to preset doc
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: Core API, Documentation, VS Code Extension

Add support for `contains` method
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `findSubsequentNodes` method to `MLNode`
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `neighbor-popovers` rule
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/index.ts
  packages/@markuplint/rules/src/neighbor-popovers/README.ja.md
  packages/@markuplint/rules/src/neighbor-popovers/README.md
  packages/@markuplint/rules/src/neighbor-popovers/index.spec.ts
  packages/@markuplint/rules/src/neighbor-popovers/index.ts
  packages/@markuplint/rules/src/neighbor-popovers/schema.json
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Rule, VS Code Extension

Add to preset
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.a11y.json
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Add a test file
  test/fixture/021.html
Labels: Core API, Documentation, VS Code Extension

Fix missing schema addition
  packages/@markuplint/rules/schema.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/parser-utils/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `ts-ignore` for deprecated feature
  packages/@markuplint/rule-textlint/src/helper.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `deprecated` flag to the `usemap` attribute of the `object` element
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove `nonStandard` flag from some attributes
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update markuplint to latest version
  website/package.json
Labels: Core API, Documentation, VS Code Extension
