Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix to reflect the JSON value to visual editor
  playground/src/components/ConfigRule.tsx
Labels: Core API, Documentation, VS Code Extension

Fix default value display
  playground/src/components/ConfigRule.tsx
Labels: Core API, Documentation, VS Code Extension

Fix oneOf selector
  playground/src/components/ConfigRule.tsx
Labels: Core API, Documentation, VS Code Extension

Fix array editor
  playground/src/components/ConfigRule.tsx
Labels: Core API, Documentation, VS Code Extension

Improve depth
  playground/src/components/ConfigRule.tsx
Labels: Core API, Documentation, VS Code Extension

Remove unused comment
  playground/src/reset.d.ts
Labels: Core API, Documentation, VS Code Extension

Support JSONC
  playground/package.json
  playground/src/App.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/modules/json.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Improve status bar
  playground/src/App.tsx
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Fix installation
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Refactor
  playground/src/App.tsx
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Fix the problem that preset is deleted when fileType is changed
  playground/src/components/PresetsEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Update message
  playground/src/App.tsx
Labels: Core API, Documentation, VS Code Extension

Install `prettier-plugin-tailwindcss`
  playground/.prettierrc.cjs
  playground/package.json
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/ConsoleOutput.tsx
  playground/src/components/DepsEditor.tsx
  playground/src/components/ExampleSelector.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/components/PresetsEditor.tsx
  playground/src/components/ProblemsOutput.tsx
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Improve styles
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/ExampleSelector.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/components/PresetsEditor.tsx
  playground/src/components/SchemaEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Improve styles
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/index.css
Labels: Core API, Documentation, VS Code Extension

Rename files
  playground/src/App.tsx
  playground/src/components/DependencyPanel.tsx
  playground/src/components/FileTypeSelector.tsx
  playground/src/components/PresetsSelector.tsx
  playground/src/components/RuleConfig.tsx
  playground/src/components/RulesSelector.tsx
Labels: Core API, Documentation, VS Code Extension

Refactor config panel
  playground/src/App.tsx
  playground/src/components/ConfigForm.tsx
  playground/src/modules/json.ts
Labels: Core API, Documentation, VS Code Extension

Reduce re-render
  playground/src/App.tsx
  playground/src/components/ConfigForm.tsx
  playground/src/components/DependencyPanel.tsx
  playground/src/components/RuleConfig.tsx
  playground/src/components/RulesSelector.tsx
Labels: Core API, Documentation, VS Code Extension

Fix HTML nesting
  playground/src/components/ConfigForm.tsx
Labels: Core API, Documentation, VS Code Extension

Update workflows
  .github/workflows/playground.yml
  .github/workflows/test.yml
  package.json
  playground/package.json
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix lint script
  playground/package.json
  playground/src/App.tsx
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix ci
  .github/workflows/playground.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update README
  playground/README.md
Labels: Core API, Documentation, VS Code Extension

Delete removed command
  package.json
Labels: Core API, Documentation, VS Code Extension

Support CRLF
  packages/@markuplint/parser-utils/src/const.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add test for CRLF
  packages/@markuplint/parser-utils/src/tag-parser.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update VS Code settings.
  .vscode/settings.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix formats according to linters.
  packages/@markuplint/astro-parser/src/astro-parser.ts
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/ml-config/src/utils.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.ts
  packages/@markuplint/parser-utils/src/idl-attributes.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/rules/src/no-use-event-handler-attr/index.ts
  packages/@markuplint/rules/src/permitted-contents/index.ts
  packages/@markuplint/rules/src/wai-aria/checkings/disallowed-prop.ts
  packages/@markuplint/selector/src/create-selector.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/markuplint/src/cli/create-rule/index.ts
  packages/markuplint/src/testing-tool/index.ts
  playground/src/playground.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Remove the experimental flag from the `disableremoteplayback` attribute.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the nonStandard flag from the `autocapitalize` attribute, and add its description.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the experimental flag from the `fetchpriority` attribute.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `@markuplint/cli-utils` package.
  packages/@markuplint/cli-utils/.npmignore
  packages/@markuplint/cli-utils/README.md
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/cli-utils/src/const.ts
  packages/@markuplint/cli-utils/src/get-width.ts
  packages/@markuplint/cli-utils/src/header.ts
  packages/@markuplint/cli-utils/src/index.ts
  packages/@markuplint/cli-utils/src/install-module.ts
  packages/@markuplint/cli-utils/src/invisible-space.ts
  packages/@markuplint/cli-utils/src/logo.ts
  packages/@markuplint/cli-utils/src/message-to-string.ts
  packages/@markuplint/cli-utils/src/name.ts
  packages/@markuplint/cli-utils/src/pad.ts
  packages/@markuplint/cli-utils/src/prompt.ts
  packages/@markuplint/cli-utils/src/space.ts
  packages/@markuplint/cli-utils/tsconfig.json
  packages/@markuplint/cli-utils/tsconfig.test.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Use `@markuplint/cli-utils`
  packages/markuplint/package.json
  packages/markuplint/src/cli/init/index.ts
  packages/markuplint/src/cli/init/install-module.ts
  packages/markuplint/src/cli/init/select-modules.spec.ts
  packages/markuplint/src/cli/init/select-modules.ts
  packages/markuplint/src/cli/prompt.ts
  packages/markuplint/src/reporter/github-reporter.ts
  packages/markuplint/src/reporter/simple-reporter.ts
  packages/markuplint/src/reporter/standard-reporter.ts
  packages/markuplint/src/util.ts
  packages/markuplint/tsconfig.json
  test/isolated-env/esm/package.json
  test/isolated-env/ts-config-ts/package.json
  test/isolated-env/ts/package.json
  yarn.lock
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update document.
  packages/@markuplint/create-rule/README.md
  packages/markuplint/README.md
  packages/markuplint/src/cli/bootstrap.ts
  website/docs/guides/cli.md
  website/docs/guides/custom-rule.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/cli.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/custom-rule.md
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix isolated-env tests.
  .github/workflows/test.yml
  test/isolated-env/esm/package.json
  test/isolated-env/ts-config-ts/package.json
  test/isolated-env/ts/package.json
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix script.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update textlint plugins.
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update cosmiconfig v9
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
