Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

feat: shorten URL hash
  playground/package.json
  playground/src/modules/save-values.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Add personal supporters.
  README.md
  cspell.json
  packages/markuplint/README.md
  website/community/index.mdx
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/index.mdx
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies on website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add tests for CRLF
  packages/@markuplint/astro-parser/src/parse.spec.ts
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.spec.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add temporary package versions to the `resolutions` field.
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add @kagankan as a code owner to `playground/`
  .github/CODEOWNERS
Labels: Core API, Documentation, VS Code Extension

Add `up` command to the package script.
  package.json
  playground/package.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies (playground)
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix #1321
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/svelte-parser/src/parse-ctrl-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Supports `@typescript-eslint/types` v6
  cspell.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/jsx-parser/src/jsx.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix ESLint parsing error at `assert`
  playground/.eslintrc
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Enable type check
  playground/src/server/linter/index.mjs
Labels: Core API, Documentation, VS Code Extension

Refactor dependency package handling
  playground/src/App.tsx
Labels: Core API, Documentation, VS Code Extension

Fix config not loaded on page load (#1331)
  playground/src/App.tsx
Labels: Core API, Documentation, VS Code Extension

Fix loading never ends if linting is skipped (#1332)
  playground/src/App.tsx
  playground/src/server/index.ts
  playground/src/server/linter/index.mjs
Labels: Core API, Documentation, VS Code Extension

Update console messages
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Avoid experimental warning
  playground/src/server/linter/index.mjs
Labels: Core API, Documentation, VS Code Extension

Fix function calling
  packages/markuplint/src/cli/init/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix error handling
  playground/src/App.tsx
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Revert "Fix ESLint parsing error at `assert`"
  playground/.eslintrc
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix non-rendering of empty lines
  playground/src/index.css
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies on website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update a year on credits.
  LICENSE
  vscode/LICENSE
Labels: Core API, Documentation, VS Code Extension

Deprecate the `allowpaymentrequest` attribute.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix `all` script
  package.json
Labels: Core API, Documentation, VS Code Extension

Tidy up `lint` scripts.
  .github/workflows/test.yml
  package.json
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Move `ga` script to `lint:*`
  package.json
Labels: Core API, Documentation, VS Code Extension

Fix CLI scripts.
  package.json
Labels: Core API, Documentation, VS Code Extension

Fix `schema` scripts.
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/types/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Tidy up `up` script
  package.json
Labels: Core API, Documentation, VS Code Extension

Tidy up order of scripts
  package.json
Labels: Core API, Documentation, VS Code Extension

Improve `all` scripts
  package.json
Labels: Core API, Documentation, VS Code Extension

Remove `vscode:up` script
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Fix optional permitted content
  packages/@markuplint/ml-spec/src/dom-traverse/get-content-model.ts
  packages/@markuplint/rules/src/permitted-contents/content-model.ts
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add tests.
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/rules/src/require-accessible-name/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix replacing comments with ignored blocks
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Completely overhauled the implementation of `Srcset` type
  packages/@markuplint/types/src/check.spec.ts
  packages/@markuplint/types/src/defs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension
