Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix repo-token
  .github/workflows/labeler.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add `sync-labels` option
  .github/workflows/labeler.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

The remove `<applet>` from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the obsoleted `<bgsound>` element from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the obsoleted `<blink>` element from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the obsoleted `<keygen>` element from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the obsoleted `<spacer>` element from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the obsoleted `<altGlyph>`, `<altGlyphDef>`, and `<altGlyphItem>` elements from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the obsoleted `<discard>` element from MDN docs.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove a test.
  packages/@markuplint/rules/test/deprecated-element/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update to add `sizes=auto`
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/test/css-syntax.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fixed broken links in the Japanese FAQ page
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/faq.md
Labels: Core API, Documentation, VS Code Extension

Revert JSDOM version for tests.
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Revert JSDOM version for tests.
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update for Lerna.
  lerna.json
  packages/@markuplint/parser-utils/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update TypeScript.
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/selector/src/selector.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update astro-parser.
  packages/@markuplint/astro-parser/src/astro-parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update description from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a test.
  packages/@markuplint/rules/test/require-accessible-name/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Consider the slot element as a mutable child
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies for the website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Checking the `<length>` token doesn't allow percentages already.
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/test/css-syntax.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Tidy up test suites.
  packages/@markuplint/ml-config/test/merge-config.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the normalization process for the value of a rule, which is created from its default value and a specified configuration value.
  packages/@markuplint/ml-core/src/ml-rule/ml-rule.ts
  packages/@markuplint/ml-core/test/ml-dom/ml-rule/create-rule.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Add test suites to verify the merging of configuration objects.
  packages/@markuplint/ml-config/test/merge-config.spec.js
  packages/@markuplint/rules/test/permitted-contents/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix keywords according to eslint.
  packages/@markuplint/ml-core/test/ml-dom/ml-rule/create-rule.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the regex that detects character references formatted hex.
  packages/@markuplint/rules/src/character-reference/index.ts
  packages/@markuplint/rules/test/character-reference/index.spec.js
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

WIP
  packages/@markuplint/rules/test/wai-aria/index.spec.js
  packages/@markuplint/vue-parser/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

VS Code v3.6.0
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update the none role and the presentation role in WAI-ARIA 1.3.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/spec-generator/src/aria.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update descriptions from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies on the playground.
  playground/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update the `svelte-parser`.
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-parser/src/svelte-parser/index.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update dependencies on the website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix to resolve path with the bang symbol.
  packages/@markuplint/file-resolver/src/config-provider.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Implemented fix to exclude specified file path using `!` symbol.
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
  packages/@markuplint/file-resolver/test/ml-file/ml-file.spec.js
  packages/markuplint/src/api/ml-engine.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
