Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Update dependencies.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix codes according to updated linters.
  website/.eslintrc
  website/docs/configuration/index.md
  website/docusaurus.config.js
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/branding.mdx
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/index.md
  website/scripts/prebuild/rule-content.mjs
  website/src/components/Grid/index.tsx
  website/src/components/Profile/index.tsx
  website/src/theme/DocItem/index.tsx
  website/src/utils/getOgImgUrl.ts
  website/tsconfig.json
Labels: Core API, Documentation, VS Code Extension

Fix for type inference.
  website/src/theme/MDXPage/index.tsx
Labels: Core API, Documentation, VS Code Extension

Update MDX.
  website/docs/configuration/index.md
  website/docs/guides/custom-rule.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/custom-rule.md
  website/scripts/prebuild/rule-content.mjs
  website/src/theme/MDXComponents/index.tsx
Labels: Core API, Documentation, VS Code Extension

Fix style.
  website/src/components/FileTree/styles.module.css
Labels: Core API, Documentation, VS Code Extension

Change `@markuplint/spec-generator` to public.
  packages/@markuplint/spec-generator/.npmignore
  packages/@markuplint/spec-generator/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Move dependencies.
  packages/@markuplint/spec-generator/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix indentation
  .prettierrc
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/examples/.editorconfig
  playground/src/examples/files/01-presets/01-recommended/.markuplintrc
  playground/src/examples/files/01-presets/01-recommended/code.html
  playground/src/examples/files/01-presets/01-recommended/metadata.json
  playground/src/examples/files/01-presets/02-recommended-static-html/.markuplintrc
  playground/src/examples/files/01-presets/02-recommended-static-html/code.html
  playground/src/examples/files/01-presets/02-recommended-static-html/metadata.json
  playground/src/examples/files/01-presets/metadata.json
  playground/src/examples/files/02-besides-html/01-react/.markuplintrc
  playground/src/examples/files/02-besides-html/01-react/code.jsx
  playground/src/examples/files/02-besides-html/01-react/metadata.json
  playground/src/examples/files/02-besides-html/02-vue/.markuplintrc
  playground/src/examples/files/02-besides-html/02-vue/code.vue
  playground/src/examples/files/02-besides-html/02-vue/metadata.json
  playground/src/examples/files/02-besides-html/03-svelte/.markuplintrc
  playground/src/examples/files/02-besides-html/03-svelte/code.svelte
  playground/src/examples/files/02-besides-html/03-svelte/metadata.json
  playground/src/examples/files/02-besides-html/metadata.json
  playground/src/examples/files/03-usecases/01-style-rules/.markuplintrc
  playground/src/examples/files/03-usecases/01-style-rules/metadata.json
  playground/src/examples/files/03-usecases/02-class-naming/.markuplintrc
  playground/src/examples/files/03-usecases/02-class-naming/code.html
  playground/src/examples/files/03-usecases/02-class-naming/metadata.json
  playground/src/examples/files/03-usecases/03-image-file-naming/.markuplintrc
  playground/src/examples/files/03-usecases/03-image-file-naming/code.html
  playground/src/examples/files/03-usecases/03-image-file-naming/metadata.json
  playground/src/examples/files/03-usecases/metadata.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/selector/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix codes for type inference.
  packages/@markuplint/rules/src/permitted-contents/debug.browser.ts
  packages/@markuplint/rules/src/permitted-contents/debug.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update the description about the `loading` attribute of the `iframe` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update schemas #391.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.link.json
  packages/@markuplint/html-spec/src/spec.script.json
  packages/@markuplint/html-spec/src/spec.style.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix a test.
  packages/@markuplint/ml-spec/test/dom-traverse/get-computed-role.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix format of descriptions from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update Required Accessibility Parent Roles(Ex: Required Context Role) of the `row` role.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the description about the `source` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix to clearly define the parent-child relationship in the accessibility tree.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

`@markuplint/html-spec` depends `@markuplint/spec-generator@4`
  packages/@markuplint/html-spec/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the `template` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.template.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `details` element.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.details.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `dirname` attribute of the `input` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.input.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add the `terms-of-service` link type.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/html-spec/src/spec.link.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `template` element
  packages/@markuplint/html-spec/src/spec.template.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `details` element.
  packages/@markuplint/html-spec/src/spec.details.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `dirname` attribute of the `input` element
  packages/@markuplint/html-spec/src/spec.input.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add the `terms-of-service` link type.
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/html-spec/src/spec.link.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Genereted.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove test file.
  packages/@markuplint/html-spec/test/structure.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix codes according to linters.
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/rules/src/no-use-event-handler-attr/index.ts
  packages/@markuplint/rules/src/wai-aria/checkings/disallowed-prop.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/markuplint/src/testing-tool/index.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Add `@markuplint/svelte-spec`
  packages/@markuplint/svelte-spec/.npmignore
  packages/@markuplint/svelte-spec/README.md
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/svelte-spec/src/index.ts
  packages/@markuplint/svelte-spec/tsconfig.json
  test/fixture/svelte/.markuplintrc
  test/fixture/svelte/001.svelte
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update dependencies
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

VS Code v3.10.0
  vscode/CHANGELOG.md
  vscode/README.md
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Improve layout
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ProblemsOutput.tsx
  playground/src/components/SchemaEditor.tsx
  playground/src/index.css
Labels: Core API, Documentation, VS Code Extension

fix: support multiple versions
  playground/package.json
  playground/src/components/SchemaEditor.tsx
  playground/src/modules/json-schema.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Change to not add history
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Fix to reflect the JSON value to visual editor
  playground/src/App.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/SchemaEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Fix scroll
  playground/src/App.tsx
Labels: Core API, Documentation, VS Code Extension
