Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove style element from flow content category
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update yarn.lock
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add `onpageswap` event attribute to the `body` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.body.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add link type `expect` to the `rel` attribute for the `link` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.link.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add Code of Conduct
  CODE_OF_CONDUCT.md
  website/.gitignore
  website/i18n/ja/docusaurus-plugin-content-docs-community/current/code-of-conduct.md
  website/scripts/prebuild/copy-raw-docs.mjs
  website/scripts/prebuild/index.mjs
  website/sidebarsCommunity.ts
Labels: Core API, Documentation, VS Code Extension

Add Netlify to weebpage
  website/docusaurus.config.ts
Labels: Core API, Documentation, VS Code Extension

Fix `contentModel` of `br`
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.br.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  website/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update from lib.dom.d.ts with TypeScript
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update descriptions from MDN
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update test
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix false positives and messages for ARIA state attribute warnings
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/wai-aria/checkings/disallowed-prop.ts
  packages/@markuplint/rules/src/wai-aria/checkings/required-prop.ts
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
  packages/@markuplint/rules/src/wai-aria/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix website's dependencies
  website/package.json
  website/scripts/prebuild/rules.mjs
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix rule's meta import
  website/scripts/prebuild/rules.mjs
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `writingsuggestions` attribute
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/ml-spec/schemas/global-attributes.schema.json
  packages/@markuplint/parser-utils/src/idl-attributes.ts
Labels: v3.x, Core API, Documentation, Parser, Specs, VS Code Extension

Add test for CLI test
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update packages/markuplint/src/cli/index.spec.ts
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update build node version
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Test in main
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update test
  packages/@markuplint/esm-adapter/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix version
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Lint fix
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-spec/src/constant/aria-version.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `writingsuggestions` attribute
  packages/@markuplint/ml-spec/gen/global-attribute.data.ts
  packages/@markuplint/ml-spec/schemas/global-attributes.schema.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update descriptions from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Lint fix
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-spec/src/constant/aria-version.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update from lib.dom.d.ts with TypeScript
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update build node version
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Remove calet from specification of dependency version
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  website/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update npm-run-all
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
