Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Remove unused setting
  playground/vite.config.ts
Labels: Core API, Documentation, VS Code Extension

Ignore ts errors
  playground/src/App.tsx
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Add Netlify setting
  playground/netlify.toml
Labels: Core API, Documentation, VS Code Extension

Use `xterm`
  playground/package.json
  playground/src/components/ConsoleOutput.tsx
  playground/src/index.css
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix layout
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ConsoleOutput.tsx
  playground/src/components/DepsEditor.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/components/ProblemsOutput.tsx
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Update yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Enable Markuplint for playground development
  playground/.markuplintrc
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix ESLint errors
  playground/.eslintrc
  playground/src/App.tsx
  playground/src/components/ExampleSelector.tsx
  playground/src/examples/index.ts
  playground/src/main.tsx
  playground/src/modules/monaco-editor.ts
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Add feature to fetch JSON schema of config
  playground/.eslintrc
  playground/src/App.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/SchemaEditor.tsx
  playground/src/modules/json-schema.ts
Labels: Core API, Documentation, VS Code Extension

Lift state up
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/DepsEditor.tsx
  playground/src/components/ExampleSelector.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/components/SchemaEditor.tsx
  playground/src/modules/config-formats.ts
  playground/src/modules/debounce.ts
  playground/src/modules/save-values.ts
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Fix schema loader for latest version
  playground/src/components/SchemaEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Fix lint process
  playground/package.json
  playground/src/App.tsx
  playground/src/server/index.ts
  playground/src/server/linter/constants.json
  playground/src/server/linter/extract-json.mjs
  playground/src/server/linter/index.mjs
Labels: Core API, Documentation, VS Code Extension

Reduce eslint-disable
  playground/.eslintrc
  playground/package.json
  playground/src/components/ConfigRule.tsx
  playground/src/modules/json-schema.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove unused files
  playground/src/examples/files/01-presets/01-recommended/deps.json
  playground/src/examples/files/01-presets/02-recommended-static-html/deps.json
  playground/src/examples/files/02-besides-html/01-react/deps.json
  playground/src/examples/files/02-besides-html/02-vue/deps.json
  playground/src/examples/files/02-besides-html/03-svelte/deps.json
  playground/src/examples/files/03-usecases/01-style-rules/deps.json
  playground/src/examples/files/03-usecases/02-class-naming/deps.json
  playground/src/examples/files/03-usecases/03-image-file-naming/deps.json
Labels: Core API, Documentation, VS Code Extension

Fix TS error
  playground/package.json
  playground/src/reset.d.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove unused property
  playground/src/examples/index.ts
Labels: Core API, Documentation, VS Code Extension

Improve types
  playground/src/examples/index.ts
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Enable users to select file type instead of filename
  playground/src/App.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/examples/index.ts
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Fix cannot modify config manually
  playground/src/App.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/SchemaEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Remove feature to choose config file format
  playground/src/App.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/examples/index.ts
  playground/src/modules/config-formats.ts
  playground/src/modules/save-values.ts
Labels: Core API, Documentation, VS Code Extension

Set parser and specs when file type changed
  playground/src/App.tsx
Labels: Core API, Documentation, VS Code Extension

Add presets editor
  playground/src/App.tsx
  playground/src/components/PresetsEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Improve deps version states
  playground/src/App.tsx
  playground/src/components/DepsEditor.tsx
  playground/src/modules/dist-tag.ts
  playground/src/server/index.ts
Labels: Core API, Documentation, VS Code Extension

Improve way to get schema version
  playground/src/App.tsx
  playground/src/components/SchemaEditor.tsx
Labels: Core API, Documentation, VS Code Extension

Fix build error
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  packages/markuplint/src/cli/init/create-config.ts
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update Required Accessibility Parent Roles(Ex: Required Context Role) of the `row` role.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the inference of the`Writable` type
  packages/markuplint/src/cli/init/create-config.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix the descriptor on ARIA 1.3
  packages/@markuplint/spec-generator/src/aria.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix to clearly define the parent-child relationship in the accessibility tree.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the description about the `source` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the description about the `loading` attribute of the `iframe` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix format of descriptions from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix formats according to linters.
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/rules/src/no-use-event-handler-attr/index.ts
  packages/@markuplint/rules/src/wai-aria/checkings/disallowed-prop.ts
  packages/@markuplint/svelte-parser/src/attr.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, Parser, Rule, VS Code Extension

Fix a test.
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve layout
  cspell.json
  playground/package.json
  playground/src/App.tsx
  playground/src/components/CodeEditor.tsx
  playground/src/components/ConfigEditor.tsx
  playground/src/components/ConfigRule.tsx
  playground/src/components/ConsoleOutput.tsx
  playground/src/components/DepsEditor.tsx
  playground/src/components/ExampleSelector.tsx
  playground/src/components/FilenameEditor.tsx
  playground/src/components/PresetsEditor.tsx
  playground/src/components/ProblemsOutput.tsx
  playground/src/examples/files/01-presets/metadata.json
  playground/src/examples/files/02-besides-html/01-react/metadata.json
  playground/src/examples/files/02-besides-html/02-vue/metadata.json
  playground/src/examples/files/02-besides-html/03-svelte/metadata.json
  playground/src/examples/files/02-besides-html/metadata.json
  playground/src/examples/index.ts
  playground/src/index.css
  playground/src/server/index.ts
  playground/tailwind.config.js
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix cache files for CI tests.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix `@markuplint/i18n` for CI.
  .prettierignore
  packages/@markuplint/i18n/esm.mjs
  packages/@markuplint/i18n/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/test-tools/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
