Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Add tests and corresponding files.
  packages/markuplint/test/index.spec.js
  test/fixture/_excludeFiles/.markuplintrc
  test/fixture/_excludeFiles/001.html
  test/fixture/_excludeFiles/002.html
  test/fixture/_excludeFiles/extends.json
  test/fixture/_excludeFiles/sub/.markuplintrc
  test/fixture/_excludeFiles/sub/003.html
Labels: v3.x, Core API, Documentation, VS Code Extension

Add updated the `excludeFIles` property's spec to the doc.
  website/docs/configuration/properties.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/properties.md
Labels: Core API, Documentation, VS Code Extension

Fix a scope of the link text.
  website/docs/configuration/properties.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/properties.md
Labels: Core API, Documentation, VS Code Extension

Remove an unnecessary comment.
  packages/markuplint/src/api/ml-engine.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Replace a default value with an optional operator.
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix logic for Windows OS.
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix to no use minimatch on the ignored method.
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update Prettier.
  .prettierrc
  package.json
  packages/@markuplint/create-rule-helper/scaffold/package/README.md
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/rule-textlint/src/test-utils.ts
  packages/@markuplint/rules/src/landmark-roles/README.ja.md
  packages/@markuplint/rules/src/landmark-roles/README.md
  packages/@markuplint/rules/src/no-hard-code-id/README.ja.md
  packages/@markuplint/rules/src/no-hard-code-id/README.md
  packages/@markuplint/types/src/css-syntax.ts
  yarn.lock
Labels: v3.x, Command Line Interface, Core API, Documentation, Rule, VS Code Extension

Update dependencies for the playground.
  playground/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies for the website.
  package.json
  website/package.json
  website/src/components/Hero/styles.module.css
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add event handlers of CSS Animations and CSS Transitions to global attributes.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/ml-spec/gen/global-attribute.data.ts
  packages/@markuplint/ml-spec/schemas/global-attributes.schema.json
  packages/@markuplint/ml-spec/src/types/attributes.ts
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix to prevent SVG elements without accessible names from exposing their roles.
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix tests.
  packages/@markuplint/ml-spec/test/dom-traverse/get-computed-role.spec.js
  packages/@markuplint/rules/test/require-accessible-name/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Removed references to accessible names of SVG elements.
  website/docs/guides/faq.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/faq.md
Labels: Core API, Documentation, VS Code Extension

Fixed issue where `referrerpolicy` is not allowed even when `src` is present in `<iframe>`, `<img>`, `<portal>`, and `<script>` elements.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/rules/test/invalid-attr/index.spec.js
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fixed implicit role of <option> element.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.option.json
  packages/@markuplint/rules/test/wai-aria/index.spec.js
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix glob to validate json
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update playground
  playground/package.json
Labels: Core API, Documentation, VS Code Extension

VS Code v3.7.0
  vscode/CHANGELOG.md
  vscode/README.md
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Switch `markuplint` package from CJS to ESM and add extensions to paths.
  packages/markuplint/package.json
  packages/markuplint/src/api/index.ts
  packages/markuplint/src/api/lint.ts
  packages/markuplint/src/api/ml-engine.ts
  packages/markuplint/src/api/v1.ts
  packages/markuplint/src/cli/command.ts
  packages/markuplint/src/cli/create-rule/index.ts
  packages/markuplint/src/cli/index.ts
  packages/markuplint/src/cli/init/create-config.ts
  packages/markuplint/src/cli/init/get-default-rules.ts
  packages/markuplint/src/cli/init/index.ts
  packages/markuplint/src/cli/init/install-module.ts
  packages/markuplint/src/cli/output.ts
  packages/markuplint/src/cli/search/index.ts
  packages/markuplint/src/index.ts
  packages/markuplint/src/reporter/github-reporter.ts
  packages/markuplint/src/reporter/index.ts
  packages/markuplint/src/reporter/simple-reporter.ts
  packages/markuplint/src/reporter/standard-reporter.ts
  packages/markuplint/src/testing-tool/index.ts
  packages/markuplint/src/v1.ts
  packages/markuplint/tsconfig.json
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update dependencies that are supporting ESM.
  packages/markuplint/package.json
  packages/markuplint/src/cli/bootstrap.ts
  packages/markuplint/src/cli/init/index.ts
  packages/markuplint/src/cli/prompt.ts
  packages/markuplint/src/i18n.ts
  packages/markuplint/src/util.ts
  packages/markuplint/tsconfig.json
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Add `node:` to native modules.
  packages/markuplint/src/cli/command.ts
  packages/markuplint/src/cli/init/index.ts
  packages/markuplint/src/cli/init/install-module.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Change CLI for ESM.
  package.json
  packages/markuplint/bin/markuplint
  packages/markuplint/bin/markuplint.mjs
  packages/markuplint/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `esm-adapter` package to enable CJS modules to run ESM modules.
  .eslintrc
  packages/@markuplint/esm-adapter/.npmignore
  packages/@markuplint/esm-adapter/README.md
  packages/@markuplint/esm-adapter/cjs/index.cjs
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/cjs/version.cjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/markuplint/src/api/index.ts
  packages/markuplint/src/api/ml-engine.ts
  packages/markuplint/src/index.ts
  packages/markuplint/src/version.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

VS Code Extension supports v4 with ESM.
  lerna.json
  packages/markuplint/package.json
  vscode/package.json
  vscode/src/server/get-module.ts
  vscode/src/server/server.ts
  vscode/src/server/v4.ts
  vscode/tsconfig.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update VS Code Extension version.
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Update CI to remove old Node versions.
  .github/workflows/build-vscode.yml
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update latest version.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Revert Node version.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix according to ESLint.
  .eslintrc
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/@markuplint/ml-spec/test/dom-traverse/get-computed-role.spec.js
  packages/markuplint/test/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update tests for the `markuplint` module optimized for ESM
  .vscode/settings.json
  package.json
  packages/markuplint/src/api/ml-engine.spec.ts
  packages/markuplint/src/cli/index.spec.ts
  packages/markuplint/src/cli/init/create-config.spec.ts
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
  packages/markuplint/src/cli/init/install-module.spec.ts
  packages/markuplint/src/i18n.spec.ts
  packages/markuplint/src/i18n.ts
  packages/markuplint/src/index.spec.ts
  packages/markuplint/src/reporter/github-reporter.spec.ts
  packages/markuplint/tsconfig.test.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix according to ESLint.
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/cjs/version.cjs
  packages/@markuplint/esm-adapter/esm/index.mjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix reserving message form a woker.
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix test for Vitest.
  .vscode/settings.json
  packages/@markuplint/esm-adapter/test/index.spec.js
  vitest.config.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix getting a module as JSON on ESM.
  packages/markuplint/src/get-json-module.ts
  packages/markuplint/src/i18n.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Ignore tests of `esm-adapter` from Jest.
  package.json
Labels: Core API, Documentation, VS Code Extension

Update tests for astro-parser.
  packages/@markuplint/astro-parser/test/astro-parser.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update tests for the `@markuplint/rule-textlint`
  packages/@markuplint/rule-textlint/src/index.browser.spec.ts
  packages/@markuplint/rule-textlint/src/index.spec.ts
  packages/@markuplint/rule-textlint/tsconfig.test.json
  vitest.config.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
