Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Fix i18n
  packages/@markuplint/i18n/src/index.spec.ts
  packages/@markuplint/i18n/src/translator.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add a test file.
  test/fixture/016.html
Labels: Core API, Documentation, VS Code Extension

Fix the message.
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/wai-aria/checkings/required-owned-elements.ts
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix named capturing through `regexSelector`
  packages/@markuplint/rules/src/class-naming/index.spec.ts
  packages/@markuplint/selector/src/match-selector.spec.ts
  packages/@markuplint/selector/src/match-selector.ts
  packages/@markuplint/selector/src/regex-selector-matches.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Confirming `svelte-parser` has no issues
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/svelte-parser/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Ignore packages on `resolutions` field.
  .github/renovate.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  playground/package.json
  playground/yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add tests.
  test/fixture/017.html
  test/fixture/astro/013.astro
  test/fixture/jsx/004.jsx
Labels: Core API, Documentation, VS Code Extension

Fix `require-accessible-name` rule to support the pretenders features and the `as` attribute.
  packages/@markuplint/rules/src/require-accessible-name/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Improve `as` attribute computation
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update tests
  packages/@markuplint/rules/src/invalid-attr/index.spec.ts
  packages/@markuplint/rules/src/label-has-control/index.spec.ts
  packages/@markuplint/rules/src/landmark-roles/index.spec.ts
  packages/@markuplint/rules/src/no-boolean-attr-value/index.spec.ts
  packages/@markuplint/rules/src/no-default-value/index.spec.ts
  packages/@markuplint/rules/src/no-refer-to-non-existent-id/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/placeholder-label-option/index.spec.ts
  packages/@markuplint/rules/src/require-accessible-name/index.spec.ts
  packages/@markuplint/rules/src/require-datetime/index.spec.ts
  packages/@markuplint/rules/src/required-attr/index.spec.ts
  packages/@markuplint/rules/src/required-element/index.spec.ts
  packages/@markuplint/rules/src/required-h1/index.spec.ts
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
  test/fixture/astro/013.astro
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add a section about the `as` attribute to the document.
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Support legacy SVG `transform` attribute value syntax
  packages/@markuplint/rules/src/invalid-attr/index.spec.ts
  packages/@markuplint/types/src/check.spec.ts
  packages/@markuplint/types/src/css-syntax.spec.ts
  packages/@markuplint/types/src/css-syntax.ts
  packages/@markuplint/types/src/defs.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix ts-error
  packages/markuplint/src/cli/init/get-default-rules.ts
  packages/markuplint/src/cli/init/types.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Fix consistent-type-imports
  packages/markuplint/src/cli/init/types.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Improve parsing an attribute value includes tags.
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Confirm issues resolved
  packages/@markuplint/nunjucks-parser/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/rules/src/end-tag/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Update documents and README
  packages/@markuplint/ejs-parser/README.md
  packages/@markuplint/erb-parser/README.md
  packages/@markuplint/liquid-parser/README.md
  packages/@markuplint/mustache-parser/README.md
  packages/@markuplint/nunjucks-parser/README.md
  packages/@markuplint/php-parser/README.md
  packages/@markuplint/smarty-parser/README.md
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: v3.x, Core API, Documentation, VS Code Extension

Update tests
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Improve to throw an parse error when tag didn't convert
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/types.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add an argument `throwErrorWhenTagHasUnresolved`
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/svelte-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `@markuplint/svelte-parser/kit`
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-parser/src/sveltekit-parser.spec.ts
  packages/@markuplint/svelte-parser/src/sveltekit-parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add a test file
  test/fixture/svelte/.markuplintrc
  test/fixture/svelte/app.html
Labels: Core API, Documentation, VS Code Extension

Add `@markuplint/svelte-parser/kit` to document and README
  packages/@markuplint/svelte-parser/README.md
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: v3.x, Core API, Documentation, VS Code Extension

Add **SvelteKit** to initializer
  packages/markuplint/src/cli/init/create-config.ts
  packages/markuplint/src/cli/init/types.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Removed unnecessary arguments, variables, and related processes
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Adjusted arguments to accept custom `attrTokenizer`
  packages/@markuplint/parser-utils/src/tag-parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Assigned `directiveTokenizer` as `attrTokenizer` in function argument
  packages/@markuplint/svelte-parser/src/nodeize.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Added a verification test
  packages/@markuplint/svelte-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Enabled character data support in the `tspan` element content model
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.svg_tspan.json
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, Specs, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix eslint errors
  website/scripts/prebuild/rules.mjs
Labels: Core API, Documentation, VS Code Extension

Fix to get category data from `@markuplint/rules`
  website/package.json
  website/scripts/prebuild/rules.mjs
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Upgrade packages
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

A test switches `@ts-nocheck`
  packages/@markuplint/html-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Replace type `MLMarkupLanguageParser` with `MLParser`
  packages/@markuplint/file-resolver/src/resolve-parser.ts
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/ml-core/src/ml-core.ts
  packages/@markuplint/ml-core/src/test/index.ts
  packages/@markuplint/ml-core/src/types.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Mark `@deprecated` to `MLMarkupLanguageParser` type
  packages/@markuplint/ml-ast/src/types.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update importing parser module
  packages/@markuplint/file-resolver/src/resolve-parser.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
