Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Add new test task to CI.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Move dependency for CI.
  package.json
  packages/@markuplint/test-tools/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove CommonJS isolated test.
  .github/workflows/test.yml
  test/isolated-env/commonjs/package.json
  test/isolated-env/esm/index.js
  test/isolated-env/esm/index.mjs
  test/isolated-env/esm/package.json
  test/isolated-env/typescript/package.json
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Skip CLI tests.
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix TypeScript isolated test.
  test/isolated-env/typescript/index.ts
  test/isolated-env/typescript/package.json
  test/isolated-env/typescript/tsconfig.json
Labels: Core API, Documentation, VS Code Extension

Fix shard options.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix shard options.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Update `@markuplint/file-resolver` to ESM.
  packages/@markuplint/file-resolver/__mocks__/markuplint-angular-parser.js
  packages/@markuplint/file-resolver/__mocks__/markuplint-rule-fake.js
  packages/@markuplint/file-resolver/__mocks__/packaged-config.js
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/file-resolver/src/auto-load-rules.spec.ts
  packages/@markuplint/file-resolver/src/config-provider.spec.ts
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
  packages/@markuplint/file-resolver/src/index.ts
  packages/@markuplint/file-resolver/src/ml-file/get-anonymous-file.ts
  packages/@markuplint/file-resolver/src/ml-file/get-file.ts
  packages/@markuplint/file-resolver/src/ml-file/get-files.ts
  packages/@markuplint/file-resolver/src/ml-file/index.ts
  packages/@markuplint/file-resolver/src/ml-file/ml-file.spec.ts
  packages/@markuplint/file-resolver/src/ml-file/ml-file.ts
  packages/@markuplint/file-resolver/src/resolve-files.ts
  packages/@markuplint/file-resolver/src/resolve-parser.spec.ts
  packages/@markuplint/file-resolver/src/resolve-parser.ts
  packages/@markuplint/file-resolver/src/resolve-plugins.spec.ts
  packages/@markuplint/file-resolver/src/resolve-rules.ts
  packages/@markuplint/file-resolver/src/resolve-specs.ts
  packages/@markuplint/file-resolver/src/utils.ts
  packages/@markuplint/file-resolver/test/resolve-parser.spec.js
  packages/@markuplint/file-resolver/tsconfig.json
  packages/@markuplint/file-resolver/tsconfig.test.json
  packages/markuplint/package.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: Core API, Documentation, VS Code Extension

docs: add --allow-warngins
  packages/markuplint/README.md
Labels: v3.x, Core API, Documentation, VS Code Extension

docs: update readme
  packages/markuplint/README.md
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve importing a module as JSON.
  packages/@markuplint/ml-core/src/configs.spec.ts
  packages/@markuplint/ml-core/src/configs.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/create-rule-helper` to ESM.
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/create-rule-helper/src/create-rule-helper.ts
  packages/@markuplint/create-rule-helper/src/create-rule-package.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.spec.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-project.ts
  packages/@markuplint/create-rule-helper/src/index.ts
  packages/@markuplint/create-rule-helper/src/install-scaffold.ts
  packages/@markuplint/create-rule-helper/src/is-markuplint-repo.ts
  packages/@markuplint/create-rule-helper/src/search-core-repository.spec.ts
  packages/@markuplint/create-rule-helper/src/search-core-repository.ts
  packages/@markuplint/create-rule-helper/src/transfer.spec.ts
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/create-rule-helper/test/search-core-repository.spec.js
  packages/@markuplint/create-rule-helper/tsconfig.json
  packages/@markuplint/create-rule-helper/tsconfig.test.json
  packages/markuplint/package.json
  vitest.config.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Update `@markuplint/i18n` to ESM + CJS Hybrid.
  packages/@markuplint/i18n/package.json
  packages/@markuplint/i18n/src/index.spec.ts
  packages/@markuplint/i18n/src/index.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/i18n/tsconfig.json
  packages/@markuplint/i18n/tsconfig.test.json
  packages/@markuplint/ml-core/package.json
  packages/markuplint/package.json
  vitest.config.ts
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/html-spec`.
  packages/@markuplint/html-spec/index.d.ts
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rules/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix tests for `@markuplint/file-resolver`
  packages/@markuplint/file-resolver/test/plugins/001.js
  packages/@markuplint/file-resolver/test/plugins/002.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/selector` to ESM.
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/selector/src/compare-specificity.ts
  packages/@markuplint/selector/src/create-selector.spec.ts
  packages/@markuplint/selector/src/create-selector.ts
  packages/@markuplint/selector/src/extended-selector/aria-pseudo-class.ts
  packages/@markuplint/selector/src/extended-selector/aria-role-pseudo-class.ts
  packages/@markuplint/selector/src/extended-selector/content-model-pseudo-class.ts
  packages/@markuplint/selector/src/index.ts
  packages/@markuplint/selector/src/match-selector.spec.ts
  packages/@markuplint/selector/src/match-selector.ts
  packages/@markuplint/selector/src/regex-selector-matches.spec.ts
  packages/@markuplint/selector/src/selector.spec.ts
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/selector/tsconfig.json
  packages/@markuplint/selector/tsconfig.test.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/shared` to ESM.
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/shared/src/functions.spec.ts
  packages/@markuplint/shared/src/functions.ts
  packages/@markuplint/shared/src/index.ts
  packages/@markuplint/shared/tsconfig.json
  packages/@markuplint/shared/tsconfig.test.json
  packages/markuplint/package.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies need ESM on `@markuplint/types`.
  packages/@markuplint/types/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/ml-config` to ESM.
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-config/src/index.ts
  packages/@markuplint/ml-config/src/merge-config.spec.ts
  packages/@markuplint/ml-config/src/merge-config.ts
  packages/@markuplint/ml-config/src/utils.spec.ts
  packages/@markuplint/ml-config/src/utils.ts
  packages/@markuplint/ml-config/tsconfig.json
  packages/@markuplint/ml-config/tsconfig.test.json
  packages/@markuplint/ml-core/package.json
  packages/markuplint/package.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/parser-utils` to ESM.
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/parser-utils/src/create-token.spec.ts
  packages/@markuplint/parser-utils/src/create-token.ts
  packages/@markuplint/parser-utils/src/decision.ts
  packages/@markuplint/parser-utils/src/detect-element-type.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.spec.ts
  packages/@markuplint/parser-utils/src/flatten-nodes.ts
  packages/@markuplint/parser-utils/src/get-location.spec.ts
  packages/@markuplint/parser-utils/src/get-space-before.ts
  packages/@markuplint/parser-utils/src/idl-attributes.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.spec.ts
  packages/@markuplint/parser-utils/src/index.ts
  packages/@markuplint/parser-utils/src/parse-attr.spec.ts
  packages/@markuplint/parser-utils/src/parse-attr.ts
  packages/@markuplint/parser-utils/src/tag-splitter.ts
  packages/@markuplint/parser-utils/tsconfig.json
  packages/@markuplint/parser-utils/tsconfig.test.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/vue-parser/package.json
  vitest.config.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Remove Jest.
  .eslintrc
  .github/workflows/test.yml
  package.json
  packages/@markuplint/test-tools/package.json
  playground/src/.eslintrc
  yarn.lock
Labels: v3.x, Core API, Documentation, GitHub Actions, VS Code Extension

Update `@markuplint/ml-ast` to ESM.
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-ast/src/index.ts
  packages/@markuplint/ml-ast/tsconfig.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Tidy up `vitest.config.ts`
  .eslintrc
  vitest.config.ts
Labels: Core API, Documentation, VS Code Extension

Update the version of `@markuplint/spec-generator`.
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/spec-generator/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/test-tools` to ESM.
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/test-tools/src/index.ts
  packages/@markuplint/test-tools/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Move test for specs.
  .eslintrc
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/spec-generator/test/structure.spec.mjs
  vitest.config.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update scaffold files for ESM.
  packages/@markuplint/create-rule-helper/scaffold/core/index.spec.ts
  packages/@markuplint/create-rule-helper/scaffold/package/src/index.ts
  packages/@markuplint/create-rule-helper/scaffold/project/index.ts
  packages/@markuplint/create-rule-helper/scaffold/project/rules/__ruleName__.spec.ts
  packages/@markuplint/create-rule-helper/src/install-scaffold.ts
  website/docs/guides/custom-rule.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/custom-rule.md
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Add a comment.
  packages/@markuplint/html-parser/src/create-tree.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update `@markuplint/rule-textlint` to ESM.
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rule-textlint/src/helper.ts
  packages/@markuplint/rule-textlint/src/verify.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update `@markuplint/react-spec` and `@markuplint/vue-spec` to ESM.
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/vue-spec/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update the version of `@markuplint/config-presets`.
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/ml-core/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix linting and formatting.
  cspell.json
  package.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/jsx-parser/src/jsx.ts
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix ESLint settings.
  .eslintrc
Labels: Core API, Documentation, VS Code Extension

Restore the test for CLI.
  packages/markuplint/src/cli/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Remove coverage test from CI.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Add to restore production cache for Linting.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix lint step on CI.
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
