Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Remove lerna bootstrap command.
  Dockerfile
  package.json
Labels: Core API, Documentation, VS Code Extension

Update TypeScript 5.2.2
  package.json
  website/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update core v3.12.1
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Update README and CHANGELOG
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Update engine version
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

For test.
  packages/markuplint/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add custom rule to JSON Schema
  config.schema.json
Labels: Core API, Documentation, VS Code Extension

Add tests for the issue.
  packages/@markuplint/rules/src/permitted-contents/choice.spec.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.spec.ts
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/order.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix the `choice` pattern computation.
  packages/@markuplint/rules/src/permitted-contents/choice.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix code.
  packages/@markuplint/rules/src/permitted-contents/choice.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add numbers to issues.
  packages/@markuplint/rules/src/permitted-contents/count-pattern.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix the result of the test.
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix the `choice` pattern computation.
  packages/@markuplint/rules/src/permitted-contents/choice.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix code.
  packages/@markuplint/rules/src/permitted-contents/choice.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix the result of the test.
  packages/@markuplint/rules/test/permitted-contents/index.spec.js
Labels: v3.x, Core API, Documentation, VS Code Extension

Update description from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the `type` attribute from the `area` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove the `prefetch` attribute from the `link` element.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the `hidden`, `tel`, `url`, or `email` input element to its `dirname` attribute condition.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.input.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Supporting for `<source media>` in media elements is allowed
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.source.json
  packages/@markuplint/rules/test/invalid-attr/index.spec.js
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Mark *deprecated* to _browser context name_
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/whatwg/is-browser-context-name.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `fallbackTo` option to `UnmatchedResult`
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/create-message.ts
  packages/@markuplint/types/src/types.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add checking _Navigable Target Name_ to Type API
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/whatwg/is-navigable-target-name.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the `blocking` attribute condition.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.link.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Update the `href` attribute of the `base` element.
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.base.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Replace _Browser Context Name_ with _Navigable Target Name_
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/html-spec/src/spec.form.json
  packages/@markuplint/html-spec/src/spec.iframe.json
  packages/@markuplint/html-spec/src/spec.object.json
  packages/@markuplint/ml-spec/src/types/attributes.ts
  packages/@markuplint/types/README.md
  packages/@markuplint/types/src/types.schema.ts
  packages/@markuplint/types/types.schema.json
  website/docs/api/types.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/types.md
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add checking _Base URL_ to Type API
  packages/@markuplint/ml-spec/src/types/attributes.ts
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/types.schema.ts
  packages/@markuplint/types/types.schema.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update VS Code extension `v3.8.0`
  vscode/CHANGELOG.md
  vscode/README.md
  vscode/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix merged files.
  packages/@markuplint/astro-parser/src/astro-parser.spec.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
  packages/@markuplint/types/src/whatwg/is-navigable-target-name.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

QUICKFIX: Modules that don't support ESM.
  package.json
Labels: Core API, Documentation, VS Code Extension

Update yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  website/package.json
  website/prismDark.js
  website/prismLight.js
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/ml-config/package.json
  playground/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update description from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies in website.
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Change setting for site build test
  .github/workflows/build-site.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
