Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'

Fix added code
  .github/workflows/test-vscode.yml
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix job name
  .github/workflows/test-vscode.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Fix run name
  .github/workflows/test-vscode.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Remove unnecessary process
  vscode/src/extension.ts
  vscode/src/lsp.ts
Labels: Core API, Documentation, VS Code Extension

Enable comment out tests.
  packages/@markuplint/file-resolver/src/config-provider.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Modify to stack errors instead of throwing them when dependencies are not found.
  packages/@markuplint/file-resolver/src/config-provider.spec.ts
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/file-resolver/src/cosmiconfig.ts
  packages/@markuplint/file-resolver/test/fixtures/010/a.json
  packages/@markuplint/file-resolver/test/fixtures/010/b.json
  packages/@markuplint/file-resolver/test/fixtures/010/c.json
  packages/@markuplint/file-resolver/test/fixtures/010/d.json
  packages/@markuplint/file-resolver/test/fixtures/010/e.json
  packages/@markuplint/file-resolver/test/fixtures/010/f.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Expose config load error.
  packages/@markuplint/ml-core/src/ml-core.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Sort lines asc.
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Improve to propose unknown accessibility props.
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/document.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/ml-core/src/ml-dom/node/types.ts
  vscode/src/server/document-events.ts
  vscode/src/server/v4.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependency
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove unnecessary package.
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add tests.
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
  packages/@markuplint/vue-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, Rule, VS Code Extension

Fix to expose comment nodes in Vue
  packages/@markuplint/vue-parser/src/parse.ts
  packages/@markuplint/vue-parser/src/vue-parser/index.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix tests
  packages/@markuplint/vue-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `--include-node-modules` option to CLI
  packages/@markuplint/file-resolver/src/ml-file/get-files.ts
  packages/@markuplint/file-resolver/src/resolve-files.ts
  packages/markuplint/README.md
  packages/markuplint/src/cli/bootstrap.ts
  packages/markuplint/src/cli/command.ts
  website/docs/guides/cli.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/cli.md
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Improve `use-list` rule.
  packages/@markuplint/rules/src/use-list/index.spec.ts
  packages/@markuplint/rules/src/use-list/index.ts
  packages/@markuplint/rules/src/use-list/schema.json
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Fix according to ESLint.
  package.json
  packages/@markuplint/config-presets/build.mjs
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/esm/import-local-module.mjs
  packages/@markuplint/esm-adapter/esm/index.mjs
  packages/@markuplint/esm-adapter/esm/resolve-module.mjs
  packages/@markuplint/esm-adapter/test/.eslintrc
  packages/@markuplint/html-spec/test/structure.spec.mjs
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix export settings
  packages/@markuplint/i18n/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Support i18n for VS Code Extension v4.
  vscode/locales/ja.json
  vscode/src/i18n.ts
Labels: Core API, Documentation, VS Code Extension

Write and change for ESM.
  website/docs/api/index.md
  website/docs/guides/applying-rules.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/applying-rules.md
Labels: Core API, Documentation, VS Code Extension

Fix on ESLint.
  website/docs/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
Labels: Core API, Documentation, VS Code Extension

Change supporting Node.js version
  packages/markuplint/README.md
  website/docs/guides/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/index.md
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix year.
  LICENSE
  vscode/LICENSE
Labels: Core API, Documentation, VS Code Extension

Improve `attr-tokenizer`
  packages/@markuplint/html-parser/src/attr-tokenizer.ts
  packages/@markuplint/html-parser/src/index.ts
  packages/@markuplint/jsx-parser/src/attr.ts
  packages/@markuplint/parser-utils/src/attr-parser.spec.ts
  packages/@markuplint/parser-utils/src/attr-parser.ts
  packages/@markuplint/parser-utils/src/attr-tokenizer.spec.ts
  packages/@markuplint/parser-utils/src/attr-tokenizer.ts
  packages/@markuplint/parser-utils/src/const.ts
  packages/@markuplint/parser-utils/src/index.ts
  packages/@markuplint/parser-utils/src/types.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Improve `pug-parser` and expose `potentialValue` as `value` property.
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/ml-core/src/ml-dom/node/attr.ts
  packages/@markuplint/pug-parser/src/attr-tokenizer.ts
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `script-parser`
  cspell.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/parser-utils/src/index.ts
  packages/@markuplint/parser-utils/src/script-parser.spec.ts
  packages/@markuplint/parser-utils/src/script-parser.ts
  yarn.lock
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Improve `ignore-block`
  packages/@markuplint/ejs-parser/src/parse.ts
  packages/@markuplint/erb-parser/src/parse.ts
  packages/@markuplint/liquid-parser/src/parse.ts
  packages/@markuplint/mustache-parser/src/parse.ts
  packages/@markuplint/nunjucks-parser/src/parse.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/types.ts
  packages/@markuplint/php-parser/src/parse.ts
  packages/@markuplint/smarty-parser/src/parse.ts
  packages/@markuplint/svelte-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix `is-custom-element-name`
  packages/@markuplint/rules/src/case-sensitive-tag-name/index.spec.ts
  packages/@markuplint/types/src/whatwg/is-custom-element-name.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add `tag-parser` instead of `parse-raw-tag`.
  packages/@markuplint/astro-parser/src/parse.ts
  packages/@markuplint/html-parser/src/create-tree.ts
  packages/@markuplint/html-parser/src/index.ts
  packages/@markuplint/html-parser/src/parse-raw-tag.ts
  packages/@markuplint/jsx-parser/src/nodeize.ts
  packages/@markuplint/parser-utils/src/const.ts
  packages/@markuplint/parser-utils/src/index.ts
  packages/@markuplint/parser-utils/src/tag-parser.spec.ts
  packages/@markuplint/parser-utils/src/tag-parser.ts
  packages/@markuplint/svelte-parser/src/attr.ts
  packages/@markuplint/svelte-parser/src/directive-tokenizer.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/vue-parser/src/parse.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `eslint-plugin-regexp`
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix according to `eslint-plugin-regexp`
  .eslintrc
  packages/@markuplint/config-presets/build.mjs
  packages/@markuplint/create-rule-helper/scaffold/core/index.ts
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/file-resolver/src/resolve-plugins.spec.ts
  packages/@markuplint/file-resolver/src/resolve-plugins.ts
  packages/@markuplint/html-parser/src/is-document-fragment.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/i18n/src/translator.ts
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-core/src/ml-dom/helper/get-indent.ts
  packages/@markuplint/ml-core/src/ml-dom/node/dom-token-list.ts
  packages/@markuplint/ml-core/src/utils/get-location-from-chars.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-explicit-role.ts
  packages/@markuplint/ml-spec/src/dom-traverse/is-exposed.ts
  packages/@markuplint/ml-spec/src/dom-traverse/matches-context-role.ts
  packages/@markuplint/parser-utils/src/const.ts
  packages/@markuplint/parser-utils/src/get-location.ts
  packages/@markuplint/parser-utils/src/ignore-front-matter.ts
  packages/@markuplint/pug-parser/src/pug-parser/index.ts
  packages/@markuplint/rules/src/class-naming/index.ts
  packages/@markuplint/rules/src/permitted-contents/matches-selector.ts
  packages/@markuplint/rules/src/wai-aria/checkings/value.ts
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/spec-generator/src/html-elements.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/svelte-parser/src/nodeize.ts
  packages/@markuplint/svelte-parser/src/parse-ctrl-block.ts
  packages/@markuplint/types/src/defs.ts
  packages/@markuplint/types/src/token/token.ts
  packages/markuplint/src/reporter/standard-reporter.ts
Labels: v3.x, Config Presets, Core API, Documentation, Parser, Rule, VS Code Extension

Fix `i18n` build settings.
  packages/@markuplint/i18n/.gitignore
  packages/@markuplint/i18n/package.json
  packages/@markuplint/i18n/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix `i18n` build settings.
  packages/@markuplint/i18n/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  playground/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix build problem
  package.json
  playground/src/diagnose.ts
  playground/src/main.ts
  playground/tsconfig.json
  playground/vite.config.js
  playground/vite.config.ts
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove unused files
  playground/src/monaco.ts
  playground/src/ruleset.ts
  playground/src/style.scss
Labels: Core API, Documentation, VS Code Extension

Update dependencies of playground
  lerna.json
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix errors
  playground/src/App.tsx
  playground/src/modules/violations.ts
  playground/src/server/index.ts
  playground/src/server/linter/extract-json.mjs
  playground/src/server/linter/index.mjs
Labels: Core API, Documentation, VS Code Extension
