Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Update dependencies
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Revert glob v10.3.6
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Try update glob to v10.3.7
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Try update glob to v10.3.8
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Try update glob to v10.3.9
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Try update glob to v10.3.10
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Revert glob version to v10.3.9
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Add Node.js v21 test to CI
  .github/workflows/test.yml
Labels: Core API, Documentation, GitHub Actions, VS Code Extension

Uniformly handle `ERR_IMPORT_ATTRIBUTE_MISSING` and `ERR_IMPORT_ASSERTION_TYPE_MISSING` errors
  packages/@markuplint/file-resolver/src/force-import-json-in-module.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add confirming test
  test/fixture/_cjs-config/001.html
  test/fixture/_cjs-config/markuplint.config.cjs
  test/isolated-env/esm/config.cjs
  test/isolated-env/esm/config.mjs
  test/isolated-env/esm/index.js
Labels: Core API, Documentation, VS Code Extension

Fix dependencies for test
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/@markuplint/test-tools/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Fix path about drive letter for Windows
  packages/@markuplint/file-resolver/src/force-import-json-in-module.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Define explicit return types to prevent invalid relative paths in `d.ts` files during TS compilation
  packages/@markuplint/ml-core/src/test/index.ts
  packages/@markuplint/ml-spec/src/dom-traverse/get-implicit-role.ts
  packages/markuplint/src/api/v1.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Remove `skipLibCheck` option to test type paths
  test/isolated-env/ts/tsconfig.json
Labels: Core API, Documentation, VS Code Extension

Change script files to TypeScript
  website/package.json
  website/scripts/.eslintrc.cjs
  website/scripts/prebuild/copy-raw-docs.mts
  website/scripts/prebuild/get-contributors.mts
  website/scripts/prebuild/index.mts
  website/scripts/prebuild/rule-content.mts
  website/scripts/prebuild/rules.mts
  website/scripts/prebuild/utils.mts
  website/scripts/tsconfig.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Remove unnecessary option
  packages/@markuplint/rules/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix test
  packages/@markuplint/create-rule/src/create-rule-to-core.spec.ts
  packages/@markuplint/create-rule/src/transfer.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies
  playground/package.json
  playground/yarn.lock
Labels: Core API, Documentation, VS Code Extension

_____
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix versions
  website/package.json
Labels: Core API, Documentation, VS Code Extension

Downgrade glob to v10.3.9
  cspell.json
  package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/test-tools/package.json
  vscode/package.json
  yarn.lock
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update dependencies
  playground/package.json
  playground/yarn.lock
  website/package.json
  website/yarn.lock
Labels: Core API, Documentation, VS Code Extension

Update yarn.lock
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Fix translation
  packages/@markuplint/rules/src/use-list/index.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-ast/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/shared/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/markuplint/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Update a description from MDN.
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add the value attribute to the select element in Svelte
  packages/@markuplint/svelte-spec/src/index.ts
  test/fixture/svelte/001.svelte
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix the implicit role of the `a` element to `generic` in ARIA 1.2
  packages/@markuplint/html-spec/src/spec.a.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix the implicit role of the `s` element to `deletion` in ARIA 1.2
  packages/@markuplint/html-spec/src/spec.s.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Apply to the spec file
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Correct tests
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.spec.ts
  packages/@markuplint/ml-spec/src/specs/get-implicit-role.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix fragment shorthand syntax support in Astro
  packages/@markuplint/astro-parser/src/parser.spec.ts
  packages/@markuplint/astro-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add a test for the issue
  packages/@markuplint/astro-parser/src/parser.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update Parsers
  packages/@markuplint/astro-parser/src/parser.ts
  packages/@markuplint/jsx-parser/src/parser.ts
  packages/@markuplint/pug-parser/src/parser.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
