Repository markuplint/markuplint, changes with the labels that .github/labeler.yml gives for each.
All labels: v3.x, Command Line Interface, Config Presets, Core API, Documentation, GitHub Actions, Parser, Rule, Specs, VS Code Extension

Correct test
  packages/@markuplint/pug-parser/src/index.spec.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix parse errors related to quotations and scripts in attribute
  packages/@markuplint/parser-utils/src/attr-tokenizer.spec.ts
  packages/@markuplint/parser-utils/src/attr-tokenizer.ts
  packages/@markuplint/parser-utils/src/script-parser.spec.ts
  packages/@markuplint/parser-utils/src/script-parser.ts
  packages/@markuplint/parser-utils/src/types.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update Parser
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Fix marking of end tags paired with ghost nodes as invalid
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `no-orphaned-end-tag` rule
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/no-orphaned-end-tag/README.ja.md
  packages/@markuplint/rules/src/no-orphaned-end-tag/README.md
  packages/@markuplint/rules/src/no-orphaned-end-tag/index.spec.ts
  packages/@markuplint/rules/src/no-orphaned-end-tag/index.ts
  packages/@markuplint/rules/src/no-orphaned-end-tag/meta.ts
  packages/@markuplint/rules/src/no-orphaned-end-tag/schema.json
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add a test file
  test/fixture/022.html
Labels: Core API, Documentation, VS Code Extension

Apply the new rule
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/src/preset.html-standard.json
  packages/@markuplint/rules/schema.json
  packages/@markuplint/rules/src/index.ts
Labels: v3.x, Config Presets, Core API, Documentation, Rule, VS Code Extension

Correct tests
  packages/@markuplint/esm-adapter/test/index.spec.js
  packages/markuplint/src/cli/init/get-default-rules.spec.ts
  packages/markuplint/src/index.spec.ts
Labels: v3.x, Command Line Interface, Core API, Documentation, VS Code Extension

Correct document
  website/docs/guides/presets.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/presets.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/esm-adapter/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/i18n/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/test-tools/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Config Presets, Core API, Documentation, VS Code Extension

Update VS Code Extension
  vscode/CHANGELOG.md
  vscode/README.md
  vscode/package.json
Labels: Core API, Documentation, VS Code Extension

Fix types in VS Code
  vscode/src/server/v2.ts
  vscode/src/server/v3.ts
  vscode/src/server/v4.ts
Labels: Core API, Documentation, VS Code Extension

Expose type `PretenderAttr`.
  packages/@markuplint/ml-config/src/types.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `@markuplint/pretenders`
  packages/@markuplint/pretenders/.npmignore
  packages/@markuplint/pretenders/README.md
  packages/@markuplint/pretenders/package.json
  packages/@markuplint/pretenders/tsconfig.json
  packages/@markuplint/pretenders/tsconfig.test.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `jsxScanner`
  cspell.json
  packages/@markuplint/ml-config/src/types.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/pretenders/README.md
  packages/@markuplint/pretenders/bin/pretenders.mjs
  packages/@markuplint/pretenders/package.json
  packages/@markuplint/pretenders/src/cli.ts
  packages/@markuplint/pretenders/src/create-scanner.ts
  packages/@markuplint/pretenders/src/dependency-mapper.spec.ts
  packages/@markuplint/pretenders/src/dependency-mapper.ts
  packages/@markuplint/pretenders/src/index.ts
  packages/@markuplint/pretenders/src/input.ts
  packages/@markuplint/pretenders/src/jsx/create-identify.ts
  packages/@markuplint/pretenders/src/jsx/finder.ts
  packages/@markuplint/pretenders/src/jsx/get-attributes.ts
  packages/@markuplint/pretenders/src/jsx/get-children.ts
  packages/@markuplint/pretenders/src/jsx/index.spec.ts
  packages/@markuplint/pretenders/src/jsx/index.ts
  packages/@markuplint/pretenders/src/jsx/types.ts
  packages/@markuplint/pretenders/src/out.ts
  packages/@markuplint/pretenders/src/pretender-director.ts
  packages/@markuplint/pretenders/src/types.ts
  packages/@markuplint/pretenders/test/fixtures/001.tsx
  packages/@markuplint/pretenders/test/fixtures/002.tsx
  packages/@markuplint/pretenders/test/fixtures/003.tsx
  packages/@markuplint/pretenders/test/fixtures/004.tsx
  packages/@markuplint/pretenders/tsconfig.json
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix paths in test file
  packages/@markuplint/pretenders/src/jsx/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix `__dirname` path
  packages/@markuplint/pretenders/src/jsx/index.spec.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Update dependencies.
  package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/svelte-parser/package.json
  playground/package.json
  playground/yarn.lock
  vscode/package.json
  website/package.json
  website/yarn.lock
  yarn.lock
Labels: v3.x, Core API, Documentation, VS Code Extension

Fix issue with parsing TypeScript code in attributes
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/jsx.ts
  packages/@markuplint/jsx-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Attribute parser of `parser-utils` supports custom parsers
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/parser-utils/src/attr-tokenizer.ts
  packages/@markuplint/parser-utils/src/script-parser.spec.ts
  packages/@markuplint/parser-utils/src/script-parser.ts
  packages/@markuplint/parser-utils/src/types.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Update VS Code
  vscode/CHANGELOG.md
  vscode/README.md
Labels: Core API, Documentation, VS Code Extension

Publish
  packages/@markuplint/alpine-parser/package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule/package.json
  packages/@markuplint/ejs-parser/package.json
  packages/@markuplint/erb-parser/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/liquid-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/nunjucks-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/php-parser/package.json
  packages/@markuplint/pretenders/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/selector/package.json
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-spec/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  vscode/package.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `overrideMode` option
  config.schema.json
  packages/@markuplint/ml-config/src/merge-config.ts
  packages/@markuplint/ml-config/src/types.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

implement the overrideMode behavior
  packages/@markuplint/file-resolver/src/config-provider.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add overrideMode test
  packages/@markuplint/file-resolver/src/config-provider.spec.ts
  packages/@markuplint/file-resolver/test/fixtures/011/.markuplintrc.merge.json
  packages/@markuplint/file-resolver/test/fixtures/011/.markuplintrc.reset.json
  packages/@markuplint/file-resolver/test/fixtures/011/target.html
  packages/@markuplint/file-resolver/test/fixtures/011/target.vue
Labels: v3.x, Core API, Documentation, VS Code Extension

Update document about `overrideMode`
  website/docs/configuration/properties.md
  website/docs/guides/ignoring-code.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/properties.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/ignoring-code.md
Labels: Core API, Documentation, VS Code Extension

Update renovate configuration and Code owners setting
  .github/CODEOWNERS
  .github/renovate.json
Labels: Core API, Documentation, VS Code Extension

Update dependencies
  package.json
  website/package.json
  yarn.lock
Labels: Core API, Documentation, VS Code Extension

Add `conditionalType` prop to `MLASTPreprocessorSpecificBlock` and `MLBlock`
  packages/@markuplint/ml-ast/src/types.ts
  packages/@markuplint/ml-core/src/ml-dom/node/block.ts
  packages/@markuplint/parser-utils/src/debugger.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
  packages/@markuplint/parser-utils/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

`svelte-parser` supports `conditionalType`
  packages/@markuplint/svelte-parser/src/index.spec.ts
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

WIP: `jsx-parser` doesn't support `conditionalType` yet.
  packages/@markuplint/jsx-parser/src/parser.ts
Labels: v3.x, Core API, Documentation, Parser, VS Code Extension

Add `onscrollend` event attribute
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec-common.attributes.json
  packages/@markuplint/ml-spec/gen/global-attribute.data.ts
  packages/@markuplint/ml-spec/schemas/global-attributes.schema.json
  packages/@markuplint/ml-spec/src/types/attributes.ts
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Fix the `for` attribute type of the `output` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.output.json
Labels: v3.x, Core API, Documentation, Specs, VS Code Extension

Add a test
  packages/@markuplint/rules/src/no-refer-to-non-existent-id/index.spec.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Update descriptions of deprecated elements from MDN
  packages/@markuplint/html-spec/index.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Use `module.createRequire` instead of Import Attribute.
  packages/markuplint/src/version.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `branchesToPatterns` function
  packages/@markuplint/shared/src/functions.spec.ts
  packages/@markuplint/shared/src/functions.ts
Labels: v3.x, Core API, Documentation, VS Code Extension

Add `conditionalChildNodes` method as experemental to `MLNode`
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-core/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node.ts
  packages/@markuplint/ml-core/tsconfig.json
Labels: v3.x, Core API, Documentation, VS Code Extension

Rename variables
  packages/@markuplint/rules/src/permitted-contents/choice.ts
  packages/@markuplint/rules/src/permitted-contents/complex-branch.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
  packages/@markuplint/rules/src/permitted-contents/matches-selector.ts
  packages/@markuplint/rules/src/permitted-contents/order.ts
  packages/@markuplint/rules/src/permitted-contents/recursive-branch.ts
  packages/@markuplint/rules/src/permitted-contents/represent-transparent-nodes.ts
  packages/@markuplint/rules/src/permitted-contents/transparent.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

Add `evaluateConditionalChildNodes` option as experimental to the `permitted-content` rule
  packages/@markuplint/rules/src/permitted-contents/index.ts
  packages/@markuplint/rules/src/permitted-contents/schema.json
  packages/@markuplint/rules/src/permitted-contents/types.ts
Labels: v3.x, Core API, Documentation, Rule, VS Code Extension

.github/labeler.yml:

v3.x:
    - packages/**/*
Command Line Interface:
    - packages/@markuplint/create-rule-helper/src/**/*
    - packages/markuplint/src/cli/**/*
Config Presets:
    - packages/@markuplint/config-presets/**/*
Core API:
    - packages/markuplint/src/**/*
    - '!packages/@markuplint/config-presets/**/*'
Documentation:
    - website/**/*
    - '!website/package.json'
    - '!website/yarn.lock'
    - packages/@markuplint/rules/src/**/*.md
GitHub Actions:
    - .github/workflows/**/*
Parser:
    - packages/@markuplint/*-parser/src/**/*
    - packages/@markuplint/parser-utils/src/**/*
Rule:
    - packages/@markuplint/rules/src/**/*
Specs:
    - packages/@markuplint/html-spec/src/**/*
VS Code Extension:
    - vscode/**/*
    - '!website/package.json'
    - '!website/package-lock.json'
