Repository markuplint/markuplint, pull requests merged in 2022-05, with the labels that each got.

#463 Add `@markuplint/smarty-parser`
  packages/@markuplint/smarty-parser/.npmignore
  packages/@markuplint/smarty-parser/README.md
  packages/@markuplint/smarty-parser/package.json
  packages/@markuplint/smarty-parser/src/index.spec.ts
  packages/@markuplint/smarty-parser/src/index.ts
  packages/@markuplint/smarty-parser/src/parse.ts
  packages/@markuplint/smarty-parser/tsconfig.json
  packages/@markuplint/smarty-parser/tsconfig.test.json
  website/src/pages/index.tsx
  website/src/pages/setting-for-other-languages.mdx
Labels: plugin

#467 Fix to catch the error when passing an invalid locale string to `toLocaleString` method.
  packages/@markuplint/i18n/src/translator.ts
Labels: bug, core

#476 Improve selectors
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/permitted-structures/svg_a.json
  packages/@markuplint/ml-core/markuplint-recommended.json
  packages/@markuplint/selector/README.md
  packages/@markuplint/selector/src/invalid-selector-error.ts
  packages/@markuplint/selector/src/selector.spec.ts
  packages/@markuplint/selector/src/selector.ts
  test/fixture/_recommended/.markuplintrc
  test/fixture/_recommended/001.html
Labels: core

#477 Fix to change the type of Vue Expression to `psblock` from `comment`
  packages/@markuplint/rules/src/require-accessible-name/index.spec.ts
  packages/@markuplint/vue-parser/src/index.spec.ts
  packages/@markuplint/vue-parser/src/parse.ts
Labels: bug, plugin

#479 Fix the problem that failed to parse when starting the `head` or `body` tags
  packages/@markuplint/html-parser/src/index.spec.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.spec.ts
  packages/@markuplint/html-parser/src/optimize-starts-head-or-body.ts
  packages/@markuplint/html-parser/src/parse.ts
Labels: bug, core

#480 Create `@markuplint/config-presets`
  .vscode/settings.json
  packages/@markuplint/config-presets/.gitignore
  packages/@markuplint/config-presets/.npmignore
  packages/@markuplint/config-presets/README.md
  packages/@markuplint/config-presets/___test.json
  packages/@markuplint/config-presets/build.mjs
  packages/@markuplint/config-presets/package.json
  packages/@markuplint/config-presets/src/README.md
  packages/@markuplint/config-presets/src/preset.a11y.json
  packages/@markuplint/config-presets/src/preset.code-styles.json
  packages/@markuplint/config-presets/src/preset.html-standard.json
  packages/@markuplint/config-presets/src/preset.performance.json
  packages/@markuplint/config-presets/src/preset.rdfa.json
  packages/@markuplint/config-presets/src/preset.recommended-react.json
  packages/@markuplint/config-presets/src/preset.recommended-static-html.json
  packages/@markuplint/config-presets/src/preset.recommended-svelte.json
  packages/@markuplint/config-presets/src/preset.recommended-vue.json
  packages/@markuplint/config-presets/src/preset.recommended.json
  packages/@markuplint/config-presets/src/preset.security.json
  packages/@markuplint/file-resolver/src/config-provider.ts
  packages/@markuplint/ml-core/markuplint-recommended.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-core/src/configs.ts
  yarn.lock
Labels: core, v3.0, config-preset
