Repository markuplint/markuplint, pull requests merged in 2022-12, with the labels that each got.

#594 Add `peerDependencies`
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/vue-spec/package.json
Labels: v2.x

#595 Update and tidyup dependencies
  .eslintrc
  .prettierignore
  cspell.json
  package.json
  packages/@markuplint/astro-parser/package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-spec/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-config/package.json
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/mustache-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/pug-parser/package.json
  packages/@markuplint/react-spec/package.json
  packages/@markuplint/rule-textlint/package.json
  packages/@markuplint/rules/package.json
  packages/@markuplint/rules/src/no-hard-code-id/README.ja.md
  packages/@markuplint/selector/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/vue-parser/package.json
  packages/@markuplint/vue-spec/package.json
  packages/markuplint/package.json
  yarn.lock
Labels: v3.x

#598 Add validation tests for `require-accessible-name`
  packages/@markuplint/rules/src/require-accessible-name/index.spec.ts
Labels: Rule, v3.x

#597 Fix to detect the nothing content model element.
  packages/@markuplint/ml-spec/src/index.ts
  packages/@markuplint/ml-spec/src/specs/is-nothing-content-model.ts
  packages/@markuplint/rules/src/no-empty-palpable-content/index.spec.ts
  packages/@markuplint/rules/src/no-empty-palpable-content/index.ts
Labels: Bug, Rule, v3.x

#599 Overhaul and fix the content model
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.iframe.json
  packages/@markuplint/html-spec/src/spec.noscript.json
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/index.ts
  packages/@markuplint/rules/src/permitted-contents/start.ts
  packages/@markuplint/rules/src/permitted-contents/types.ts
Labels: Bug, Specs, v3.x

#578 Add Algolia
  website/config.js
  website/docusaurus.config.js
Labels: Documentation, v3.x

#609 Update `--create-rule` process.
  packages/@markuplint/create-rule-helper/scaffold/plugin/README.md
  packages/@markuplint/create-rule-helper/scaffold/plugin/index.ts
  packages/@markuplint/create-rule-helper/scaffold/plugin/rules.spec.ts
  packages/@markuplint/create-rule-helper/scaffold/plugin/rules.ts
  packages/@markuplint/create-rule-helper/src/create-rule-package.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.spec.ts
  packages/@markuplint/create-rule-helper/src/fs-exists.ts
  packages/@markuplint/create-rule-helper/src/index.ts
  packages/@markuplint/create-rule-helper/src/install-scaffold.ts
  packages/@markuplint/create-rule-helper/src/is-markuplint-repo.ts
  packages/@markuplint/create-rule-helper/src/read-package-json.ts
  packages/@markuplint/create-rule-helper/src/search-core-repository.ts
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/create-rule-helper/src/types.ts
  packages/markuplint/src/cli/create-rule/index.ts
  packages/markuplint/src/cli/init/install-module.ts
  packages/markuplint/src/util.ts
Labels: v3.x

#611 Fix to add the hint about `aria-busy`
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/wai-aria/checkings/required-owned-elements.ts
  packages/@markuplint/rules/src/wai-aria/index.spec.ts
Labels: Bug, Rule, v3.x

#612 Fix to replace the masked node with the restored node at `nextNode` and `prevNode`
  packages/@markuplint/ejs-parser/src/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/index.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.spec.ts
  packages/@markuplint/parser-utils/src/ignore-block.ts
Labels: Bug, Parser, v3.x, Plugin API: Parser

#615 Update Playground site for v3.
  packages/@markuplint/html-parser/package.json
  packages/@markuplint/html-parser/src/create-tree.ts
  packages/@markuplint/ml-core/package.json
  packages/@markuplint/ml-core/src/configs.browser.ts
  packages/@markuplint/rules/package.json
  packages/@markuplint/rules/src/class-naming/index.ts
  packages/@markuplint/rules/src/permitted-contents/debug.browser.ts
  packages/@markuplint/rules/src/permitted-contents/debug.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  playground/package.json
  playground/src/diagnose.ts
  playground/src/ml-playground-home.svelte
  playground/src/pages/index.html
  playground/src/pages/media/logo.svg
  playground/src/pages/media/vscode.png
  playground/src/style/home.scss
  playground/webpack.config.ts
  yarn.lock
Labels: v3.x

#618 Fix evaluation of the transparent model
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/represent-transparent-nodes.ts
  packages/@markuplint/rules/src/permitted-contents/start.spec.ts
  packages/@markuplint/rules/src/permitted-contents/transparent.ts
Labels: Bug, Specs, Rule, v3.x

#619 Update dependencies
  package.json
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.svg_feTurbulence.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/ml-spec/src/types/attributes.ts
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/types/package.json
  packages/@markuplint/types/patches/css-tree+2.3.1.patch
  packages/@markuplint/types/src/css-syntax.ts
  packages/@markuplint/types/src/types.schema.ts
  packages/@markuplint/types/types.schema.json
  packages/markuplint/package.json
  yarn.lock
Labels: Dependencies, Specs, v3.x

#622 Translate `/configuration` pages
  website/docs/configuration/index.md
  website/docs/configuration/properties.md
  website/docs/configuration/usecases/architected-css.md
  website/docs/configuration/usecases/consistent-image-file-naming.md
  website/i18n/ja/docusaurus-plugin-content-docs/current.json
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/properties.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/usecases/architected-css.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/usecases/consistent-image-file-naming.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/configuration/usecases/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/applying-rules.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/besides-html.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/custom-rule.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/ignoring-code.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/selectors.md
  website/i18n/ja/docusaurus-plugin-content-pages/index.tsx
  website/sidebars.js
  website/src/components/HomepageFeatures/index.tsx
  website/src/pages/index.tsx
Labels: Documentation, v3.x

#627 Translate `/api` pages
  website/docs/api/classes.md
  website/docusaurus.config.js
  website/i18n/ja/docusaurus-plugin-content-docs/current.json
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/classes.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/index.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/types.md
Labels: Documentation, v3.x

#628 Support for OG image in Japanese
  cspell.json
  website/src/components/OgImgPlayground.tsx
  website/src/theme/DocPage/index.tsx
  website/src/utils/getOgImgUrl.ts
Labels: Documentation, v3.x

#629 Fix the is-exposed function to return true if the element is unknown, deprecated, or obsolete.
  packages/@markuplint/ml-spec/src/dom-traverse/is-exposed.spec.ts
  packages/@markuplint/ml-spec/src/dom-traverse/is-exposed.ts
Labels: Bug, Core API, v3.x

#632 Revert upgrading CSSTree
  packages/@markuplint/ml-spec/src/types/attributes.ts
  packages/@markuplint/types/package.json
  packages/@markuplint/types/patches/css-tree+2.3.1.patch
  packages/@markuplint/types/src/css-syntax.ts
  packages/@markuplint/types/src/types.schema.ts
  packages/@markuplint/types/types.schema.json
  website/docs/api/types.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/api/types.md
  yarn.lock
Labels: Bug, Dependencies, Core API, Documentation, 😵Unreproducible

#633 Improve and restructure create-rule feature
  packages/@markuplint/create-rule-helper/.npmignore
  packages/@markuplint/create-rule-helper/package.json
  packages/@markuplint/create-rule-helper/scaffold/core/README.ja.md
  packages/@markuplint/create-rule-helper/scaffold/core/README.md
  packages/@markuplint/create-rule-helper/scaffold/core/schema.json
  packages/@markuplint/create-rule-helper/scaffold/index.ts
  packages/@markuplint/create-rule-helper/scaffold/package/README.md
  packages/@markuplint/create-rule-helper/scaffold/package/src/index.ts
  packages/@markuplint/create-rule-helper/scaffold/package/src/rules/__ruleName__.spec.ts
  packages/@markuplint/create-rule-helper/scaffold/package/src/rules/__ruleName__.ts
  packages/@markuplint/create-rule-helper/scaffold/package/tsconfig.json
  packages/@markuplint/create-rule-helper/scaffold/plugin/README.md
  packages/@markuplint/create-rule-helper/scaffold/plugin/index.ts
  packages/@markuplint/create-rule-helper/scaffold/project/index.ts
  packages/@markuplint/create-rule-helper/scaffold/project/rules/__ruleName__.spec.ts
  packages/@markuplint/create-rule-helper/scaffold/project/rules/__ruleName__.ts
  packages/@markuplint/create-rule-helper/src/create-rule-package.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.spec.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-core.ts
  packages/@markuplint/create-rule-helper/src/create-rule-to-project.ts
  packages/@markuplint/create-rule-helper/src/glob.ts
  packages/@markuplint/create-rule-helper/src/install-scaffold.ts
  packages/@markuplint/create-rule-helper/src/transfer.spec.ts
  packages/@markuplint/create-rule-helper/src/transfer.ts
  packages/@markuplint/create-rule-helper/src/types.ts
  packages/markuplint/src/cli/create-rule/index.ts
  website/docs/guides/custom-rule.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/custom-rule.md
Labels: Core API, v3.x

#634 Fix to auto-load recommended presets according to the document rewrote.
  packages/markuplint/src/api/ml-engine.ts
Labels: Core API, Documentation, v3.x, Config Presets

#642 Fix to no add `endTag` to `ps-block` on `jsx-parser`
  packages/@markuplint/jsx-parser/src/index.spec.ts
  packages/@markuplint/jsx-parser/src/parse.ts
  packages/@markuplint/ml-core/src/ml-dom/index.spec.ts
  packages/@markuplint/ml-core/src/ml-dom/node/node-store.ts
Labels: Bug, Parser, v3.x

#647 Add "Warned by `require-accessible-name` rule" to FAQ
  website/docs/guides/faq.md
  website/i18n/ja/docusaurus-plugin-content-docs/current/guides/faq.md
Labels: Documentation

#648 Fix the implicit role condition of the `form` element
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.form.json
  packages/@markuplint/ml-spec/src/specs/get-implicit-role.spec.ts
  packages/@markuplint/ml-spec/src/specs/get-permitted-roles.spec.ts
  packages/@markuplint/rules/src/require-accessible-name/index.spec.ts
Labels: Bug, Specs, v3.x

#651 Fix the schema of the `ruby` element and fix the logic on `permitted-contents`
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.ruby.json
  packages/@markuplint/ml-spec/package.json
  packages/@markuplint/ml-spec/schemas/content-models.schema.json
  packages/@markuplint/ml-spec/src/types/permitted-structres.ts
  packages/@markuplint/ml-spec/src/types/permitted-structures.ts
  packages/@markuplint/rules/src/debug.ts
  packages/@markuplint/rules/src/permitted-contents/choice.spec.ts
  packages/@markuplint/rules/src/permitted-contents/choice.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.spec.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
  packages/@markuplint/rules/src/permitted-contents/index.spec.ts
  packages/@markuplint/rules/src/permitted-contents/matches-selector.ts
  packages/@markuplint/rules/src/permitted-contents/order.spec.ts
  packages/@markuplint/rules/src/permitted-contents/order.ts
  packages/@markuplint/rules/src/permitted-contents/types.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  test/fixture/011.html
Labels: Bug, Specs, Rule, v3.x
