Repository markuplint/markuplint, pull requests merged in 2024-08, with the labels that each got.

#1981 update the dockerfile to match current structure
  .dockerignore
  .github/renovate.json
  Dockerfile
Labels: v4.x

#1982 chore(deps): update 2024-08-12
  cspell.json
  package.json
  packages/@markuplint-dev/eslint-config/index.js
  packages/@markuplint-dev/eslint-config/package.json
  packages/@markuplint/file-resolver/package.json
  packages/@markuplint/jsx-parser/package.json
  packages/@markuplint/parser-utils/package.json
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/spec-generator/src/fetch.ts
  playground/package.json
  playground/yarn.lock
  yarn.lock
Labels: Specs, v4.x

#1988 feat(html-spec): update specs in August 2024
  packages/@markuplint/html-spec/index.json
Labels: Specs

#1990 chore(deps): upgrade ESLint to v9
  .eslintignore
  .eslintrc
  eslint.config.js
  package.json
  packages/@markuplint-dev/eslint-config/.eslintrc
  packages/@markuplint-dev/eslint-config/base.js
  packages/@markuplint-dev/eslint-config/commonjs.js
  packages/@markuplint-dev/eslint-config/eslint.config.js
  packages/@markuplint-dev/eslint-config/index.js
  packages/@markuplint-dev/eslint-config/package.json
  packages/@markuplint-dev/eslint-config/parser.js
  packages/@markuplint-dev/eslint-config/test.js
  packages/@markuplint-dev/eslint-config/ts.js
  packages/@markuplint-dev/prettier-config/.eslintrc
  packages/@markuplint/alpine-parser/src/spec.ts
  packages/@markuplint/cli-utils/src/prompt.ts
  packages/@markuplint/create-rule/scaffold/.eslintrc
  packages/@markuplint/create-rule/src/search-core-repository.ts
  packages/@markuplint/create-rule/src/transfer.ts
  packages/@markuplint/esm-adapter/.eslintrc
  packages/@markuplint/esm-adapter/cjs/ml-engine.cjs
  packages/@markuplint/esm-adapter/test/.eslintrc
  packages/@markuplint/file-resolver/src/resolve-parser.spec.ts
  packages/@markuplint/file-resolver/test/fixtures/009/markuplint.config.ts
  packages/@markuplint/html-spec/test/structure.spec.mjs
  packages/@markuplint/htmx-parser/.eslintrc
  packages/@markuplint/ml-core/src/ml-dom/helper/walkers.ts
  packages/@markuplint/ml-core/src/ml-dom/node/element.ts
  packages/@markuplint/parser-utils/src/parser.ts
  packages/@markuplint/pretenders/src/dependency-mapper.ts
  packages/@markuplint/pretenders/src/jsx/finder.ts
  packages/@markuplint/pretenders/src/jsx/get-attributes.ts
  packages/@markuplint/pretenders/src/jsx/index.ts
  packages/@markuplint/react-spec/.eslintrc
  packages/@markuplint/rule-textlint/src/index.ts
  packages/@markuplint/rules/.eslintrc
  packages/@markuplint/rules/src/helpers.ts
  packages/@markuplint/rules/src/permitted-contents/count-pattern.ts
  packages/@markuplint/rules/src/permitted-contents/debug.ts
  packages/@markuplint/rules/src/permitted-contents/utils.ts
  packages/@markuplint/selector/src/selector.spec.ts
  packages/@markuplint/selector/src/selector.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/svelte-spec/.eslintrc
  packages/@markuplint/vue-spec/.eslintrc
  vscode/.eslintrc
  vscode/.gitignore
  vscode/CHANGELOG.md
  vscode/src/extension.ts
  vscode/src/i18n.ts
  vscode/src/server/get-module.ts
  vscode/test/suite/config.spec.js
  vscode/test/suite/index.js
  vscode/test/suite/run-tests.js
  yarn.lock
Labels: Core API, Parser, Specs, Rule, Config Presets, Plugin API: Parser, Plugin API: Pretender Hooks, Command Line Interface, VS Code Extension, v4.x

#1994 Change Twitter to X
  website/docs/guides/faq.md
Labels: Documentation

#1999 Merge `main`
  website/docs/guides/faq.md
Labels: Documentation

#2006 update link to VS Code extension code
  website/docs/guides/faq.md
Labels: Documentation
