Repository markuplint/markuplint, pull requests merged in 2025-05, with the labels that each got.

#2675 Fix errors on CI about website build
  package.json
  website/.prettierrc.mjs
  website/package.json
  website/yarn.lock
Labels: v4.x

#2730 chore(github): update Node.js version from 18 to 22 in website workflow
  .github/workflows/build-site.yml
Labels: GitHub Actions

#2731 feat(html-spec): update img src/srcset attributes to be mutually required
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/html-spec/src/spec.img.json
  packages/@markuplint/i18n/$schema.json
  packages/@markuplint/i18n/locales/ja.json
  packages/@markuplint/rules/src/required-attr/index.spec.ts
  packages/@markuplint/rules/src/required-attr/index.ts
  test/fixture/026.html
Labels: Specs, Rule

#2732 refactor(deps): update dependency @types/cheerio to v1
  packages/@markuplint/spec-generator/package.json
  packages/@markuplint/spec-generator/src/aria.ts
  packages/@markuplint/spec-generator/src/fetch.ts
  packages/@markuplint/spec-generator/src/scraping.ts
  packages/@markuplint/spec-generator/src/utils.ts
  yarn.lock
Labels: Specs, v4.x

#2733 fix(file-resolver): change error handling in JSON import
  packages/@markuplint/file-resolver/src/force-import-json-in-module.ts
  packages/@markuplint/file-resolver/src/get-preset.spec.ts
Labels: Core API

#2755 refactor(svelte-parser): update dependency svelte
  packages/@markuplint/svelte-parser/package.json
  packages/@markuplint/svelte-parser/src/svelte-parser/index.ts
  yarn.lock
Labels: Parser, v4.x
