Repository markuplint/markuplint, pull requests merged in 2025-04, with the labels that each got.

#2599 refactor: replace `cli-color` with `picocolors` and custom `xterm` helper
  packages/@markuplint/cli-utils/package.json
  packages/@markuplint/cli-utils/src/color.ts
  packages/@markuplint/cli-utils/src/header.ts
  packages/@markuplint/cli-utils/src/index.ts
  packages/@markuplint/cli-utils/src/install-module.ts
  packages/@markuplint/cli-utils/src/logo.ts
  packages/@markuplint/cli-utils/src/name.ts
  packages/@markuplint/cli-utils/src/prompt.ts
  packages/@markuplint/cli-utils/src/space.ts
  packages/@markuplint/create-rule/src/cli.ts
  packages/markuplint/src/reporter/simple-reporter.ts
  packages/markuplint/src/reporter/standard-reporter.ts
  website/yarn.lock
  yarn.lock
Labels: Core API, GitHub Actions, Config Presets, Command Line Interface, v4.x

#2627 Fix pnpm setup on CI
  .github/workflows/test.yml
Labels: GitHub Actions

#2631 Clarify CLI messages in `markuplint --init`
  packages/markuplint/src/cli/init/index.ts
Labels: Core API

#2632 Disable autoupdate VS Code version
  .github/renovate.json
  vscode/package.json
  yarn.lock
Labels: v4.x

#2636 refactor(svelte-parser): move visitText method
  packages/@markuplint/svelte-parser/src/parser.ts
Labels: Parser

#2638 feat(html-spec): update specs
  packages/@markuplint/html-spec/index.json
  packages/@markuplint/ml-spec/src/dom-traverse/get-computed-role.spec.ts
  packages/@markuplint/spec-generator/src/aria.ts
Labels: Core API, Specs
